- @advertising.each do |ad|
  .content_inner-block1
    =link_to simple_format(ad.link, {}, sanitize: false).to_s.gsub!('<p>','').gsub!('</p>',''), target: '_blank' do
      %h3
        = ad.title
    .location
      %p.grey-light=simple_format(ad.company, {}, sanitize: false).to_s.gsub!('<p>','').gsub!('</p>','') + ' - ' + simple_format(ad.city, {}, sanitize: false).to_s.gsub!('<p>','').gsub!('</p>','')
    %p.text=simple_format(ad.text, {}, sanitize: false).to_s.gsub!('<p>','').gsub!('</p>','')
    .time-ago
      %p.grey-light
        =  time_ago_in_words(ad.created_at)
        ago
        %span.grey-middle= "from " + simple_format(ad.company, {}, sanitize: false).to_s.gsub!('<p>','').gsub!('</p>','')
