%footer
  .width960.row.footer_inner2
    .large-6.medium-6.small-6.columns
      %nav
        %ul.first_5_black
          %li
            =link_to  'Home', root_path
          %li
            =link_to  'Post a job', post_job_path
          %li
            =link_to  'Contact Us', contact_path
          %li
          - @job_pages.each do |page|
            %li
              =link_to  page.title, page_path(page)
    .large-6.medium-6.small-6.columns.socials
      =link_to  image_tag('twitter.png'), 'https://twitter.com/JobGoalNet'
      =link_to  image_tag('facebook.png'), 'https://www.facebook.com/jobgoal.net'
      =link_to  image_tag('linkedin.png'), 'https://www.linkedin.com/company/jobgoal-net'
      =link_to  image_tag('google.png'), 'https://plus.google.com/114786001526410880690'
      .fb-like{"data-action" => "like", "data-href" => "http://jobgoal.net", "data-layout" => "button_count", "data-share" => "false", "data-show-faces" => "true"}
      %br
      %br
      .row
        .large-12.medium-12.small-12.columns
          %a{href: "http://secure.trust-guard.com/security/9293", name: "trustlink", onclick: "var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href.replace(/https?/, 'https'),'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;", oncontextmenu: "var d = new Date(); alert('Copying Prohibited by Law - This image and all included logos are copyrighted by trust-guard \\251 '+d.getFullYear()+'.'); return false;", rel: "nofollow", target: "_blank"}
            %img{alt: "Security Seals", name: "trustseal", src: "//dw26xg4lubooo.cloudfront.net/seals/logo/9293-header.gif", style: "border: 0;"}/
          %a{href: "http://secure.trust-guard.com/privacy/9293", name: "trustlink", onclick: "var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href.replace(/https?/, 'https'),'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;", oncontextmenu: "var d = new Date(); alert('Copying Prohibited by Law - This image and all included logos are copyrighted by trust-guard \\251 '+d.getFullYear()+'.'); return false;", rel: "nofollow", target: "_blank"}
            %img{alt: "Privacy Seals", name: "trustseal", src: "//dw26xg4lubooo.cloudfront.net/seals/privacy/9293-header.gif", style: "border: 0;"}/
        .large-12.medium-12.small-12.columns
          .copyright.right
            %p
              %span © 2014 JobGoal.net
              %br All Rights Reserved

