%header#mobile_head
  .width960.row
    .large-2.medium-2.small-2.columns.logo
      =link_to image_tag('logo.png'), root_path
    .large-10.medium-10.small-10.columns
      = form_tag landing_path, :method => 'get', :id => "search", :class=>'search-block right ' do
        = text_field_tag :search, params[:search], class: 'search-field', placeholder: "Job Title"
        = text_field_tag :location, params[:location], class: 'search-field', placeholder: "Location (ZIP, city etc)"
        = submit_tag "Search", :name => nil, id: 'search'
    .clear-both
.full-width_bg2#desktop_head
  .width960.row
    .large-4.medium-4.small-4.columns.logo
      =link_to image_tag('logo.png'), root_path
    .clear-both
    .large-9.medium-9.small-9.columns.centered
      = form_tag landing_path, :method => 'get', :id => "search", :class=>'search-block centered ' do
        = text_field_tag :search, params[:search], class: 'search-field', placeholder: "Job Title"
        = text_field_tag :location, params[:location], class: 'search-field', placeholder: "Location (ZIP, city etc)"
        = submit_tag "Search", :name => nil, id: 'search'
        .clear-both
          = link_to 'Advanced Search', advanced_search_path, class: 'advanced-search right'