#openModal.modalDialog
  .div
    = image_tag('logo.png', class: 'modal-logo')
    %h2
      We've found
      %span.red
      -if @total_result_2.present?
        #{@total_result_2.to_s.gsub!("<tr>", "").gsub!("</tr>", "")}
      -else
        =render(text:'No result found')

      Jobs

    .modalDialog_inner
      %h3 How Is Employer Going To Contact You?
      %form.search-block#f1{action: "http://www.gogvo.com/subscribe.php", method: "post"}
        %input{name: "CampaignCode", type: "hidden", value: "504820539af8"}/
        %input{name: "FormId", type: "hidden", value: "3848419"}/
        %input{name: "AffiliateName", type: "hidden", value: "jobgoal"}/
        %input#Custom2{placeholder: "Last Name",name: "Custom2", onblur: "check(‘Custom2’, reg_Custom2)", onkeyup: "check(‘Custom2’, reg_Custom2)", type: "text"}/
        %input#Custom1{placeholder: "First Name",name: "Custom1", onblur: "check(‘Custom1’, reg_Custom1)", onkeyup: "check(‘Custom1’, reg_Custom1)", type: "text"}/
        %input#Email{placeholder: "E-Mail Adress",name: "Email", onblur: "check(‘Email’, reg_Email)", onkeyup: "check(‘Email’, reg_Email)", type: "text"}/
        .clear-both
        %input#modal_Dialog-button{type: "submit", value: "START SEARCH"}

        //%img{src: "http://www.gogvo.com/show_form.php?id=3848419"}/
        .clear-both
    %p By entering my information and clicking "Continue," I am providing express consent to be contacted by JobGoal.net  via email, phone and text, including my wireless phone number, regarding job openings, career services and educational opportunities using automated technology. Standard message and data rates may apply to text messages. You are not required to provide consent to receive services from JobGoal.net  I also understand that the JobGoal.net Privacy Policy  governs the collection of this information.
