.large-2.medium-2.small-2.column.right-sidebar
  = link_to 'Post a Job', post_job_path, class:'golden_button'
  %br
  - @posts.each  do |post|
    .right-sidebar_inner-block1
      %h4= link_to post.title, post_path(post)
      .time-ago
        %p.grey-light=post.created_at.to_formatted_s(:short)
  .right-sidebar_inner-block2
    <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- 120x600, created 12/4/08 -->
    <ins class="adsbygoogle" style="display:inline-block;width:190px;height:600px" data-ad-client="ca-pub-7077183407169853" data-ad-slot="1189020219"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>