.large-2.medium-2.small-2.column.left-sidebar
  .sort-by
  =form_tag sorting_path, :method => 'get', :id => "sorting_search" do
    %h4 Sort by
    = link_to 'Relavance desc',  :action => 'sorting', :sort_by => "rd"
    = link_to 'Relavance asc',  :action => 'sorting', :sort_by => "ra"
    %br
    = link_to 'Date desc',  :action => 'sorting', :sort_by => "dd"
    %br
    = link_to 'Date asc',  :action => 'sorting', :sort_by => "ad"
    .accordion
    %h4 Distance:
    = link_to 'Within 5 miles',  :action => 'sorting', :miles => "5"
    = link_to 'Within 10 miles',  :action => 'sorting', :miles => "10"
    = link_to 'Within 15 miles',  :action => 'sorting', :miles => "15"
    = link_to 'Within 25 miles',  :action => 'sorting', :miles => "25"
    = link_to 'Within 50 miles',  :action => 'sorting', :miles => "50"
    = link_to 'Within 100 miles',  :action => 'sorting', :miles => "100"
    %h4 Job Boards:
    %div
      = link_to 'Job Boards Only',  :action => 'sorting', :job_source => "job_board"
      = link_to 'Exclude Job Boards',  :action => 'sorting', :job_source => "primary"

