#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Alabaster jobs', :controller => 'job',  :action => 'location_result', location: 'alabaster%2C+AL'
            %li=link_to 'Anniston jobs', :controller => 'job',  :action => 'location_result', location: 'anniston%2C+AL'
            %li=link_to 'Auburn jobs', :controller => 'job',  :action => 'location_result', location: 'auburn%2C+AL'
            %li=link_to 'Bessemer jobs', :controller => 'job',  :action => 'location_result', location: 'bessemer%2C+AL'
            %li=link_to 'Birmingham jobs', :controller => 'job',  :action => 'location_result', location: 'birmingham%2C+AL'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Decatur jobs', :controller => 'job',  :action => 'location_result', location: 'decatur%2C+AL'
            %li=link_to 'Dothan jobs', :controller => 'job',  :action => 'location_result', location: 'dothan%2C+AL'
            %li=link_to 'Florence jobs', :controller => 'job',  :action => 'location_result', location: 'florence%2C+AL'
            %li=link_to 'Foley jobs', :controller => 'job',  :action => 'location_result', location: 'foley'
            %li=link_to 'Gadsden jobs', :controller => 'job',  :action => 'location_result', location: 'gadsden%2C+AL'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Hoover jobs', :controller => 'job',  :action => 'location_result', location: 'hoover%2C+AL'
            %li=link_to 'Huntsville jobs', :controller => 'job',  :action => 'location_result', location: 'huntsville%2C+AL'
            %li=link_to 'Madison jobs', :controller => 'job',  :action => 'location_result', location: 'madison%2C+AL'
            %li=link_to 'Mobile jobs', :controller => 'job',  :action => 'location_result', location: 'mobile%2C+AL'
            %li=link_to 'Montgomery jobs', :controller => 'job',  :action => 'location_result', location: 'montgomery%2C+AL'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Opelika jobs', :controller => 'job',  :action => 'location_result', location: 'opelika%2C+AL'
            %li=link_to 'Prattville jobs', :controller => 'job',  :action => 'location_result', location: 'prattville%2C+AL'
            %li=link_to 'Tuscaloosa jobs', :controller => 'job',  :action => 'location_result', location: 'tuscaloosa%2C+AL'
  =render(partial: 'job/partials/footer')