#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Anchorage jobs',  :controller => 'job',  :action => 'location_result', location: 'anchorage%2C+AK'
            %li=link_to 'Barrow jobs',  :controller => 'job',  :action => 'location_result', location: 'barrow%2C+AK'
            %li=link_to 'Bethel jobs',  :controller => 'job',  :action => 'location_result', location: 'bethel%2C+AK'
            %li=link_to 'Eagle River jobs',  :controller => 'job',  :action => 'location_result', location: 'eagle+river%2C+AK'
            %li=link_to 'Fairbanks jobs',  :controller => 'job',  :action => 'location_result', location: 'fairbanks%2C+AK'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Fort Richardson jobs',  :controller => 'job',  :action => 'location_result', location: 'fort+richardson%2C+AK'
            %li=link_to 'Juneau jobs',  :controller => 'job',  :action => 'location_result', location: 'juneau%2C+AK'
            %li=link_to 'Kenai jobs',  :controller => 'job',  :action => 'location_result', location: 'kenai%2C+AK'
            %li=link_to 'Ketchikan jobs',  :controller => 'job',  :action => 'location_result', location: 'ketchikan%2C+AK'
            %li=link_to 'Kodiak jobs',  :controller => 'job',  :action => 'location_result', location: 'kodiak%2C+AK'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Kotzebue jobs',  :controller => 'job',  :action => 'location_result', location: 'kotzebue%2C+AK'
            %li=link_to 'Palmer jobs',  :controller => 'job',  :action => 'location_result', location: 'palmer%2C+AK'
            %li=link_to 'Prudhoe Bay jobs',  :controller => 'job',  :action => 'location_result', location: 'prudhoe+bay%2C+AK'
            %li=link_to 'Seward jobs',  :controller => 'job',  :action => 'location_result', location: 'seward%2C+AK'
            %li=link_to 'Soldotna jobs',  :controller => 'job',  :action => 'location_result', location: 'soldotna%2C+AK'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Unalakleet jobs',  :controller => 'job',  :action => 'location_result', location: 'unalakleet%2C+AK'
            %li=link_to 'Wainwright jobs',  :controller => 'job',  :action => 'location_result', location: 'wainwright%2C+AK'
            %li=link_to 'Wasilla jobs',  :controller => 'job',  :action => 'location_result', location: 'wasilla%2C+AK'
      .clear-both
  =render(partial: 'job/partials/footer')