#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Avondale jobs',  :controller => 'job',  :action => 'location_result', location: 'avondale%2C+az'
            %li=link_to 'Casa Grande jobs',  :controller => 'job',  :action => 'location_result', location: 'casa+grande%2C+az'
            %li=link_to 'Chandler jobs',  :controller => 'job',  :action => 'location_result', location: 'chandler%2C+az'
            %li=link_to 'Flagstaff jobs',  :controller => 'job',  :action => 'location_result', location: 'flagstaff%2C+az'
            %li=link_to 'Fountain Hills jobs',  :controller => 'job',  :action => 'location_result', location: 'fountain+hills%2C+az'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Gilbert jobs',  :controller => 'job',  :action => 'location_result', location: 'gilbert%2C+az'
            %li=link_to 'Glendale jobs',  :controller => 'job',  :action => 'location_result', location: 'glendale%2C+az'
            %li=link_to 'Goodyear jobs',  :controller => 'job',  :action => 'location_result', location: 'goodyear%2C+az'
            %li=link_to 'Mesa jobs',  :controller => 'job',  :action => 'location_result', location: 'mesa'
            %li=link_to 'Peoria jobs',  :controller => 'job',  :action => 'location_result', location: 'peoria%2C+az'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Phoenix jobs',  :controller => 'job',  :action => 'location_result', location: 'phoenix%2C+az'
            %li=link_to 'Prescott jobs',  :controller => 'job',  :action => 'location_result', location: 'prescott%2C+az'
            %li=link_to 'Scottsdale jobs',  :controller => 'job',  :action => 'location_result', location: 'scottsdale%2C+az'
            %li=link_to 'Sierra Vista jobs',  :controller => 'job',  :action => 'location_result', location: 'sierra+vista%2C+az'
            %li=link_to 'Surprise jobs%2C+az',  :controller => 'job',  :action => 'location_result', location: 'surprise%2C+az'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Tempe jobs',  :controller => 'job',  :action => 'location_result', location: 'tempe%2C+az'
            %li=link_to 'Tucson jobs',  :controller => 'job',  :action => 'location_result', location: 'tucson%2C+az'
            %li=link_to 'Yuma jobs',  :controller => 'job',  :action => 'location_result', location: 'yuma'
      .clear-both
  =render(partial: 'job/partials/footer')