#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Benton jobs',  :controller => 'job',  :action => 'location_result', location: 'benton%2C+ar'
            %li=link_to 'Bentonville jobs',  :controller => 'job',  :action => 'location_result', location: 'bentonvillebenton%2C+ar'
            %li=link_to 'Conway jobs',  :controller => 'job',  :action => 'location_result', location: 'conwaybenton%2C+ar'
            %li=link_to 'El Dorado jobs',  :controller => 'job',  :action => 'location_result', location: 'el+doradobenton%2C+ar'
            %li=link_to 'Fayetteville jobs',  :controller => 'job',  :action => 'location_result', location: 'fayettevillebenton%2C+ar'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Fort Smith jobs',  :controller => 'job',  :action => 'location_result', location: 'fort+smithbenton%2C+ar'
            %li=link_to 'Hot Springs National Park jobs',  :controller => 'job',  :action => 'location_result', location: 'hot+springs+national+parkbenton%2C+ar'
            %li=link_to 'Hot Springs jobs',  :controller => 'job',  :action => 'location_result', location: 'hot+springsbenton%2C+ar'
            %li=link_to 'Jacksonville jobs',  :controller => 'job',  :action => 'location_result', location: 'jacksonvillebenton%2C+ar'
            %li=link_to 'Jonesboro jobs',  :controller => 'job',  :action => 'location_result', location: 'jonesborobenton%2C+ar'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Little Rock jobs',  :controller => 'job',  :action => 'location_result', location: 'little+rockbenton%2C+ar'
            %li=link_to 'North Little Rock jobs',  :controller => 'job',  :action => 'location_result', location: 'north+little+rockbenton%2C+ar'
            %li=link_to 'Pine Bluff jobs',  :controller => 'job',  :action => 'location_result', location: 'pine+bluffbenton%2C+ar'
            %li=link_to 'Rogers jobs',  :controller => 'job',  :action => 'location_result', location: 'rogersbenton%2C+ar'
            %li=link_to 'Russellville jobs',  :controller => 'job',  :action => 'location_result', location: 'russellvillebenton%2C+ar'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Searcy jobs',  :controller => 'job',  :action => 'location_result', location: 'searcybenton%2C+ar'
            %li=link_to 'Springdale jobs',  :controller => 'job',  :action => 'location_result', location: 'springdalebenton%2C+ar'
            %li=link_to 'Texarkana jobs',  :controller => 'job',  :action => 'location_result', location: 'texarkanabenton%2C+ar'
      .clear-both
  =render(partial: 'job/partials/footer')