#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Bear jobs',  :controller => 'job',  :action => 'location_result', location: 'bear%20'
            %li=link_to 'Bethany Beach jobs',  :controller => 'job',  :action => 'location_result', location: 'bethany+beach'
            %li=link_to 'Claymont jobs',  :controller => 'job',  :action => 'location_result', location: 'claymont'
            %li=link_to 'Delaware City jobs',  :controller => 'job',  :action => 'location_result', location: 'delaware+city'
            %li=link_to 'Dover jobs',  :controller => 'job',  :action => 'location_result', location: 'dover'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Georgetown jobs',  :controller => 'job',  :action => 'location_result', location: 'georgetown'
            %li=link_to 'Hockessin jobs',  :controller => 'job',  :action => 'location_result', location: 'hockessin'
            %li=link_to 'Lewes jobs',  :controller => 'job',  :action => 'location_result', location: 'lewes'
            %li=link_to 'Middletown jobs',  :controller => 'job',  :action => 'location_result', location: 'middletown'
            %li=link_to 'Milford jobs',  :controller => 'job',  :action => 'location_result', location: 'milford'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Millsboro jobs',  :controller => 'job',  :action => 'location_result', location: 'millsboro'
            %li=link_to 'New Castle jobs',  :controller => 'job',  :action => 'location_result', location: 'new+castle'
            %li=link_to 'Newark jobs',  :controller => 'job',  :action => 'location_result', location: 'newark'
            %li=link_to 'Rehoboth Beach jobs',  :controller => 'job',  :action => 'location_result', location: 'rehoboth+beach'
            %li=link_to 'Seaford jobs',  :controller => 'job',  :action => 'location_result', location: 'seaford'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Selbyville jobs',  :controller => 'job',  :action => 'location_result', location: 'selbyville'
            %li=link_to 'Smyrna jobs',  :controller => 'job',  :action => 'location_result', location: 'smyrna'
            %li=link_to 'Wilmington jobs',  :controller => 'job',  :action => 'location_result', location: 'wilmington'      .clear-both
  =render(partial: 'job/partials/footer')