#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Arvada jobs',  :controller => 'job',  :action => 'location_result', location: 'arvada%2C+co'
            %li=link_to 'Aurora jobs',  :controller => 'job',  :action => 'location_result', location: 'aurora%2C+co'
            %li=link_to 'Boulder jobs',  :controller => 'job',  :action => 'location_result', location: 'boulder%2C+co'
            %li=link_to 'Broomfield jobs',  :controller => 'job',  :action => 'location_result', location: 'broomfield%2C+co'
            %li=link_to 'Colorado Springs jobs',  :controller => 'job',  :action => 'location_result', location: 'colorado+springs%2C+co'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Denver jobs',  :controller => 'job',  :action => 'location_result', location: 'denver%2C+co'
            %li=link_to 'Englewood jobs',  :controller => 'job',  :action => 'location_result', location: 'englewood%2C+co'
            %li=link_to 'Fort Collins jobs',  :controller => 'job',  :action => 'location_result', location: 'fort+collins%2C+co'
            %li=link_to 'Golden jobs',  :controller => 'job',  :action => 'location_result', location: 'golden%2C+co'
            %li=link_to 'Grand Junction jobs',  :controller => 'job',  :action => 'location_result', location: 'grand+junction%2C+co'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Greeley jobs',  :controller => 'job',  :action => 'location_result', location: 'greeley%2C+co'
            %li=link_to 'Lakewood jobs',  :controller => 'job',  :action => 'location_result', location: 'lakewood%2C+co'
            %li=link_to 'Littleton jobs',  :controller => 'job',  :action => 'location_result', location: 'littleton%2C+co'
            %li=link_to 'Longmont jobs',  :controller => 'job',  :action => 'location_result', location: 'longmont%2C+co'
            %li=link_to 'Loveland jobs',  :controller => 'job',  :action => 'location_result', location: 'loveland%2C+co'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Pueblo jobs',  :controller => 'job',  :action => 'location_result', location: 'pueblo%2C+co'
            %li=link_to 'U S A F Academy jobs',  :controller => 'job',  :action => 'location_result', location: 'u+s+a+f+academy%2C+co'
            %li=link_to 'Westminster jobs',  :controller => 'job',  :action => 'location_result', location: 'westminster%2C+co'
      .clear-both
  =render(partial: 'job/partials/footer')