#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Bridgeport jobs',  :controller => 'job',  :action => 'location_result', location: 'bridgeport%2C+CT'
            %li=link_to 'Bristol jobs',  :controller => 'job',  :action => 'location_result', location: 'bristol%2C+CT'
            %li=link_to 'Danbury jobs',  :controller => 'job',  :action => 'location_result', location: 'danbury%2C+CT'
            %li=link_to 'East Hartford jobs',  :controller => 'job',  :action => 'location_result', location: 'east+hartford%2C+CT'
            %li=link_to 'Enfield jobs',  :controller => 'job',  :action => 'location_result', location: 'enfield%2C+CT'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Greenwich jobs',  :controller => 'job',  :action => 'location_result', location: 'greenwich%2C+CT'
            %li=link_to 'Hamden jobs',  :controller => 'job',  :action => 'location_result', location: 'hamden%2C+CT'
            %li=link_to 'Hartford jobs',  :controller => 'job',  :action => 'location_result', location: 'hartford%2C+CT'
            %li=link_to 'Manchester jobs',  :controller => 'job',  :action => 'location_result', location: 'manchester%2C+CT'
            %li=link_to 'Middletown jobs',  :controller => 'job',  :action => 'location_result', location: 'middletown%2C+CT'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Milford jobs',  :controller => 'job',  :action => 'location_result', location: 'milford%2C+CT'
            %li=link_to 'New Haven jobs',  :controller => 'job',  :action => 'location_result', location: 'new+haven%2C+CT'
            %li=link_to 'Norwalk jobs',  :controller => 'job',  :action => 'location_result', location: 'norwalk%2C+CT'
            %li=link_to 'Stamford jobs',  :controller => 'job',  :action => 'location_result', location: 'stamford%2C+CT'
            %li=link_to 'Stratford jobs',  :controller => 'job',  :action => 'location_result', location: 'stratford%2C+CT'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Waterbury jobs',  :controller => 'job',  :action => 'location_result', location: 'waterbury%2C+CT'
            %li=link_to 'West Hartford jobs',  :controller => 'job',  :action => 'location_result', location: 'west+hartford%2C+CT'
            %li=link_to 'Windsor jobs',  :controller => 'job',  :action => 'location_result', location: 'windsor%2C+CT'
      .clear-both
  =render(partial: 'job/partials/footer')