#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Boca Raton jobs',  :controller => 'job',  :action => 'location_result', location: 'boca+raton%2C+FL'
            %li=link_to 'Clearwater jobs',  :controller => 'job',  :action => 'location_result', location: 'clearwater%2C+FL'
            %li=link_to 'Fort Lauderdale jobs',  :controller => 'job',  :action => 'location_result', location: 'fort+lauderdale%2C+FL'
            %li=link_to 'Fort Myers jobs',  :controller => 'job',  :action => 'location_result', location: 'fort+myers%2C+FL'
            %li=link_to 'Gainesville jobs',  :controller => 'job',  :action => 'location_result', location: 'gainesville%2C+FL'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Hialeah jobs',  :controller => 'job',  :action => 'location_result', location: 'hialeah%2C+FL'
            %li=link_to 'Hollywood jobs',  :controller => 'job',  :action => 'location_result', location: 'hollywood%2C+FL'
            %li=link_to 'Jacksonville jobs',  :controller => 'job',  :action => 'location_result', location: 'jacksonville%2C+FL'
            %li=link_to 'Lakeland jobs',  :controller => 'job',  :action => 'location_result', location: 'lakeland%2C+FL'
            %li=link_to 'Miami jobs',  :controller => 'job',  :action => 'location_result', location: 'miami%2C+FL'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Naples jobs',  :controller => 'job',  :action => 'location_result', location: 'naples%2C+FL'
            %li=link_to 'Orlando jobs',  :controller => 'job',  :action => 'location_result', location: 'orlando%2C+FL'
            %li=link_to 'Pensacola jobs',  :controller => 'job',  :action => 'location_result', location: 'pensacola%2C+FL'
            %li=link_to 'Saint Petersburg jobs',  :controller => 'job',  :action => 'location_result', location: 'saint+petersburg%2C+FL'
            %li=link_to 'Sarasota jobs',  :controller => 'job',  :action => 'location_result', location: 'sarasota%2C+FL'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Tallahassee jobs',  :controller => 'job',  :action => 'location_result', location: 'tallahassee%2C+FL'
            %li=link_to 'Tampa jobs',  :controller => 'job',  :action => 'location_result', location: 'tampa%2C+FL'
            %li=link_to 'West Palm Beach jobs',  :controller => 'job',  :action => 'location_result', location: 'west+palm+beach%2C+FL'
      .clear-both
  =render(partial: 'job/partials/footer')