#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Albany jobs',  :controller => 'job',  :action => 'location_result', location: 'albany%2C+GA'
            %li=link_to 'Alpharetta jobs',  :controller => 'job',  :action => 'location_result', location: 'alpharetta%2C+GA'
            %li=link_to 'Athens jobs',  :controller => 'job',  :action => 'location_result', location: 'athens%2C+GA'
            %li=link_to 'Atlanta jobs',  :controller => 'job',  :action => 'location_result', location: 'atlanta%2C+GA'
            %li=link_to 'Augusta jobs',  :controller => 'job',  :action => 'location_result', location: 'augusta%2C+GA'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Buford jobs',  :controller => 'job',  :action => 'location_result', location: 'buford%2C+GA'
            %li=link_to 'Columbus jobs',  :controller => 'job',  :action => 'location_result', location: 'columbus%2C+GA'
            %li=link_to 'Decatur jobs',  :controller => 'job',  :action => 'location_result', location: 'decatur%2C+GA'
            %li=link_to 'Duluth jobs',  :controller => 'job',  :action => 'location_result', location: 'duluth%2C+GA'
            %li=link_to 'Gainesville jobs',  :controller => 'job',  :action => 'location_result', location: 'gainesville%2C+GA'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Kennesaw jobs',  :controller => 'job',  :action => 'location_result', location: 'kennesaw%2C+GA'
            %li=link_to 'Lawrenceville jobs',  :controller => 'job',  :action => 'location_result', location: 'lawrenceville%2C+GA'
            %li=link_to 'Macon jobs',  :controller => 'job',  :action => 'location_result', location: 'macon%2C+GA'
            %li=link_to 'Marietta jobs',  :controller => 'job',  :action => 'location_result', location: 'marietta%2C+GA'
            %li=link_to 'Norcross jobs',  :controller => 'job',  :action => 'location_result', location: 'norcross%2C+GA'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Roswell jobs',  :controller => 'job',  :action => 'location_result', location: 'roswell%2C+GA'
            %li=link_to 'Savannah jobs',  :controller => 'job',  :action => 'location_result', location: 'savannah%2C+GA'
            %li=link_to 'Valdosta jobs',  :controller => 'job',  :action => 'location_result', location: 'valdosta%2C+GA'
      .clear-both
  =render(partial: 'job/partials/footer')