#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Aiea jobs',  :controller => 'job',  :action => 'location_result', location: 'aiea%2C+HI'
            %li=link_to 'Ewa Beach jobs',  :controller => 'job',  :action => 'location_result', location: 'ewa+beach%2C+HI'
            %li=link_to 'Hilo jobs',  :controller => 'job',  :action => 'location_result', location: 'hilo%2C+HI'
            %li=link_to 'Honolulu jobs',  :controller => 'job',  :action => 'location_result', location: 'honolulu%2C+HI'
            %li=link_to 'Kahului jobs',  :controller => 'job',  :action => 'location_result', location: 'kahului%2C+HI'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Kailua Kona jobs',  :controller => 'job',  :action => 'location_result', location: 'kailua+kona%2C+HI'
            %li=link_to 'Kailua jobs',  :controller => 'job',  :action => 'location_result', location: 'kailua%2C+HI'
            %li=link_to 'Kailua-Kona jobs',  :controller => 'job',  :action => 'location_result', location: 'kailua-kona%2C+HI'
            %li=link_to 'Kapolei jobs',  :controller => 'job',  :action => 'location_result', location: 'kapolei%2C+HI'
            %li=link_to 'Kihei jobs',  :controller => 'job',  :action => 'location_result', location: 'kihei%2C+HI'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Lahaina jobs',  :controller => 'job',  :action => 'location_result', location: 'lahaina%2C+HI'
            %li=link_to 'Lihue jobs',  :controller => 'job',  :action => 'location_result', location: 'lihue%2C+HI'
            %li=link_to 'Pearl City jobs',  :controller => 'job',  :action => 'location_result', location: 'pearl+city%2C+HI'
            %li=link_to 'Princeville jobs',  :controller => 'job',  :action => 'location_result', location: 'princeville%2C+HI'
            %li=link_to 'Schofield Barracks jobs',  :controller => 'job',  :action => 'location_result', location: 'schofield+barracks%2C+HI'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Wahiawa jobs',  :controller => 'job',  :action => 'location_result', location: 'wahiawa%2C+HI'
            %li=link_to 'Waikoloa jobs',  :controller => 'job',  :action => 'location_result', location: 'waikoloa%2C+HI'
            %li=link_to 'Waipahu jobs',  :controller => 'job',  :action => 'location_result', location: 'waipahu%2C+HI'
      .clear-both
  =render(partial: 'job/partials/footer')