#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Blackfoot jobs',  :controller => 'job',  :action => 'location_result', location: 'blackfoot%2C+id'
            %li=link_to 'Boise jobs',  :controller => 'job',  :action => 'location_result', location: 'boise%2C+id'
            %li=link_to 'Burley jobs',  :controller => 'job',  :action => 'location_result', location: 'burley%2C+id'
            %li=link_to 'Caldwell jobs',  :controller => 'job',  :action => 'location_result', location: 'caldwell%2C+id'
            %li=link_to 'Coeur D Alene jobs',  :controller => 'job',  :action => 'location_result', location: 'coeur+d+alene%2C+id'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Eagle jobs',  :controller => 'job',  :action => 'location_result', location: 'eagle%2C+id'
            %li=link_to 'Idaho Falls jobs',  :controller => 'job',  :action => 'location_result', location: 'idaho+falls%2C+id'
            %li=link_to 'Lewiston jobs',  :controller => 'job',  :action => 'location_result', location: 'lewiston%2C+id'
            %li=link_to 'Mccall jobs',  :controller => 'job',  :action => 'location_result', location: 'mccall%2C+id'
            %li=link_to 'Meridian jobs',  :controller => 'job',  :action => 'location_result', location: 'meridian%2C+id'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Moscow jobs',  :controller => 'job',  :action => 'location_result', location: 'moscow%2C+id'
            %li=link_to 'Mountain Home jobs',  :controller => 'job',  :action => 'location_result', location: 'mountain+home%2C+id'
            %li=link_to 'Nampa jobs',  :controller => 'job',  :action => 'location_result', location: 'nampa%2C+id'
            %li=link_to 'Pocatello jobs',  :controller => 'job',  :action => 'location_result', location: 'pocatello%2C+id'
            %li=link_to 'Post Falls jobs',  :controller => 'job',  :action => 'location_result', location: 'post+falls%2C+id'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Rexburg jobs',  :controller => 'job',  :action => 'location_result', location: 'rexburg%2C+id'
            %li=link_to 'Sandpoint jobs',  :controller => 'job',  :action => 'location_result', location: 'sandpoint%2C+id'
            %li=link_to 'Twin Falls jobs',  :controller => 'job',  :action => 'location_result', location: 'twin+falls%2C+id'
      .clear-both
  =render(partial: 'job/partials/footer')