#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Arlington Heights jobs',  :controller => 'job',  :action => 'location_result', location: 'arlington+heights%2C+IA'
            %li=link_to 'Aurora jobs',  :controller => 'job',  :action => 'location_result', location: 'aurora%2C+IA'
            %li=link_to 'Bloomington jobs',  :controller => 'job',  :action => 'location_result', location: 'bloomington%2C+IA'
            %li=link_to 'Champaign jobs',  :controller => 'job',  :action => 'location_result', location: 'champaign%2C+IA'
            %li=link_to 'Chicago jobs',  :controller => 'job',  :action => 'location_result', location: 'chicago%2C+IA'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Des Plaines jobs',  :controller => 'job',  :action => 'location_result', location: 'des+plaines%2C+IA'
            %li=link_to 'Downers Grove jobs',  :controller => 'job',  :action => 'location_result', location: 'downers+grove%2C+IA'
            %li=link_to 'Elgin jobs',  :controller => 'job',  :action => 'location_result', location: 'elgin%2C+IA'
            %li=link_to 'Evanston jobs',  :controller => 'job',  :action => 'location_result', location: 'evanston%2C+IA'
            %li=link_to 'Joliet jobs',  :controller => 'job',  :action => 'location_result', location: 'joliet%2C+IA'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Naperville jobs',  :controller => 'job',  :action => 'location_result', location: 'naperville%2C+IA'
            %li=link_to 'Northbrook jobs',  :controller => 'job',  :action => 'location_result', location: 'northbrook%2C+IA'
            %li=link_to 'Oak Brook jobs',  :controller => 'job',  :action => 'location_result', location: 'oak+brook%2C+IA'
            %li=link_to 'Peoria jobs',  :controller => 'job',  :action => 'location_result', location: 'peoria%2C+IA'
            %li=link_to 'Rockford jobs',  :controller => 'job',  :action => 'location_result', location: 'rockford%2C+IA'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Schaumburg jobs',  :controller => 'job',  :action => 'location_result', location: 'schaumburg%2C+IA'
            %li=link_to 'Springfield jobs',  :controller => 'job',  :action => 'location_result', location: 'springfield%2C+IA'
            %li=link_to 'Waukegan jobs',  :controller => 'job',  :action => 'location_result', location: 'waukegan%2C+IA'
      .clear-both
  =render(partial: 'job/partials/footer')