#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Anderson jobs',  :controller => 'job',  :action => 'location_result', location: 'anderson%2C+pa'
            %li=link_to 'Bloomington jobs',  :controller => 'job',  :action => 'location_result', location: 'bloomington%2C+pa'
            %li=link_to 'Carmel jobs',  :controller => 'job',  :action => 'location_result', location: 'carmel%2C+pa'
            %li=link_to 'Columbus jobs',  :controller => 'job',  :action => 'location_result', location: 'columbus%2C+pa'
            %li=link_to 'Elkhart jobs',  :controller => 'job',  :action => 'location_result', location: 'elkhart%2C+pa'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Evansville jobs',  :controller => 'job',  :action => 'location_result', location: 'evansville%2C+pa'
            %li=link_to 'Fishers jobs',  :controller => 'job',  :action => 'location_result', location: 'fishers%2C+pa'
            %li=link_to 'Fort Wayne jobs',  :controller => 'job',  :action => 'location_result', location: 'fort+wayne%2C+pa'
            %li=link_to 'Greenwood jobs',  :controller => 'job',  :action => 'location_result', location: 'greenwood%2C+pa'
            %li=link_to 'Indianapolis jobs',  :controller => 'job',  :action => 'location_result', location: 'indianapolis%2C+pa'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Kokomo jobs',  :controller => 'job',  :action => 'location_result', location: 'kokomo%2C+pa'
            %li=link_to 'Lafayette jobs',  :controller => 'job',  :action => 'location_result', location: 'lafayette%2C+pa'
            %li=link_to 'Merrillville jobs',  :controller => 'job',  :action => 'location_result', location: 'merrillville%2C+pa'
            %li=link_to 'Mishawaka jobs',  :controller => 'job',  :action => 'location_result', location: 'mishawaka%2C+pa'
            %li=link_to 'Muncie jobs',  :controller => 'job',  :action => 'location_result', location: 'muncie%2C+pa'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'South Bend jobs',  :controller => 'job',  :action => 'location_result', location: 'south+bend%2C+pa'
            %li=link_to 'Terre Haute jobs',  :controller => 'job',  :action => 'location_result', location: 'terre+haute%2C+pa'
            %li=link_to 'Valparaiso jobs',  :controller => 'job',  :action => 'location_result', location: 'valparaiso%2C+pa'

      .clear-both
  =render(partial: 'job/partials/footer')