#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Ames jobs',  :controller => 'job',  :action => 'location_result', location: 'ames%2C+IA'
            %li=link_to 'Ankeny jobs',  :controller => 'job',  :action => 'location_result', location: 'ankeny%2C+IA'
            %li=link_to 'Bettendorf jobs',  :controller => 'job',  :action => 'location_result', location: 'bettendorf%2C+IA'
            %li=link_to 'Cedar Falls jobs',  :controller => 'job',  :action => 'location_result', location: 'cedar+falls%2C+IA'
            %li=link_to 'Cedar Rapids jobs',  :controller => 'job',  :action => 'location_result', location: 'cedar+rapids%2C+IA'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Coralville jobs',  :controller => 'job',  :action => 'location_result', location: 'coralville%2C+IA'
            %li=link_to 'Council Bluffs jobs',  :controller => 'job',  :action => 'location_result', location: 'council+bluffs%2C+IA'
            %li=link_to 'Davenport jobs',  :controller => 'job',  :action => 'location_result', location: 'davenport%2C+IA'
            %li=link_to 'Des Moines jobs',  :controller => 'job',  :action => 'location_result', location: 'des+moines%2C+IA'
            %li=link_to 'Dubuque jobs',  :controller => 'job',  :action => 'location_result', location: 'dubuque%2C+IA'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Fort Dodge jobs',  :controller => 'job',  :action => 'location_result', location: 'fort+dodge%2C+IA'
            %li=link_to 'Iowa City jobs',  :controller => 'job',  :action => 'location_result', location: 'iowa+city%2C+IA'
            %li=link_to 'Mason City jobs',  :controller => 'job',  :action => 'location_result', location: 'mason+city%2C+IA'
            %li=link_to 'Ottumwa jobs',  :controller => 'job',  :action => 'location_result', location: 'ottumwa'
            %li=link_to 'Sioux City jobs',  :controller => 'job',  :action => 'location_result', location: 'sioux+city%2C+IA'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Urbandale jobs',  :controller => 'job',  :action => 'location_result', location: 'urbandalev'
            %li=link_to 'Waterloo jobs',  :controller => 'job',  :action => 'location_result', location: 'waterloo%2C+IA'
            %li=link_to 'West Des Moines jobs',  :controller => 'job',  :action => 'location_result', location: 'west+des+moines%2C+IA'
      .clear-both
  =render(partial: 'job/partials/footer')