#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Dodge City jobs',  :controller => 'job',  :action => 'location_result', location: 'dodge+city%2C+KS'
            %li=link_to 'Emporia jobs',  :controller => 'job',  :action => 'location_result', location: 'emporia%2C+KS'
            %li=link_to 'Garden City jobs',  :controller => 'job',  :action => 'location_result', location: 'garden+city%2C+KS'
            %li=link_to 'Hays jobs',  :controller => 'job',  :action => 'location_result', location: 'hays%2C+KS'
            %li=link_to 'Hutchinson jobs',  :controller => 'job',  :action => 'location_result', location: 'hutchinson%2C+KS'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Kansas City jobs',  :controller => 'job',  :action => 'location_result', location: 'kansas+city%2C+KS'
            %li=link_to 'Lawrence jobs',  :controller => 'job',  :action => 'location_result', location: 'lawrence%2C+KS'
            %li=link_to 'Leavenworth jobs',  :controller => 'job',  :action => 'location_result', location: 'leavenworth%2C+KS'
            %li=link_to 'Leawood jobs',  :controller => 'job',  :action => 'location_result', location: 'leawood%2C+KS'
            %li=link_to 'Lenexa jobs',  :controller => 'job',  :action => 'location_result', location: 'lenexa%2C+KS'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Manhattan jobs',  :controller => 'job',  :action => 'location_result', location: 'manhattan%2C+KS'
            %li=link_to 'Olathe jobs',  :controller => 'job',  :action => 'location_result', location: 'olathe%2C+KS'
            %li=link_to 'Overland Park jobs',  :controller => 'job',  :action => 'location_result', location: 'overland+park%2C+KS'
            %li=link_to 'Salina jobs',  :controller => 'job',  :action => 'location_result', location: 'salina%2C+KS'
            %li=link_to 'Shawnee Mission jobs',  :controller => 'job',  :action => 'location_result', location: 'shawnee+mission%2C+KS'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Shawnee jobs',  :controller => 'job',  :action => 'location_result', location: 'shawnee%2C+KS'
            %li=link_to 'Topeka jobs',  :controller => 'job',  :action => 'location_result', location: 'topeka%2C+KS'
            %li=link_to 'Wichita jobs',  :controller => 'job',  :action => 'location_result', location: 'wichita%2C+KS'
      .clear-both
  =render(partial: 'job/partials/footer')