#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Ashland jobs',  :controller => 'job',  :action => 'location_result', location: 'ashland%2C+KY'
            %li=link_to 'Bowling Green jobs',  :controller => 'job',  :action => 'location_result', location: 'bowling+green%2C+KY'
            %li=link_to 'Canada jobs',  :controller => 'job',  :action => 'location_result', location: 'canada%2C+KY'
            %li=link_to 'Covington jobs',  :controller => 'job',  :action => 'location_result', location: 'covington%2C+KY'
            %li=link_to 'Elizabethtown jobs',  :controller => 'job',  :action => 'location_result', location: 'elizabethtown%2C+KY'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Erlanger jobs',  :controller => 'job',  :action => 'location_result', location: 'erlanger%2C+KY'
            %li=link_to 'Florence jobs',  :controller => 'job',  :action => 'location_result', location: 'florence%2C+KY'
            %li=link_to 'Frankfort jobs',  :controller => 'job',  :action => 'location_result', location: 'frankfort%2C+KY'
            %li=link_to 'Georgetown jobs',  :controller => 'job',  :action => 'location_result', location: 'georgetown%2C+KY'
            %li=link_to 'Hebron jobs',  :controller => 'job',  :action => 'location_result', location: 'hebron%2C+KY'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Hopkinsville jobs',  :controller => 'job',  :action => 'location_result', location: 'hopkinsville%2C+KY'
            %li=link_to 'Lexington jobs',  :controller => 'job',  :action => 'location_result', location: 'lexington%2C+KY'
            %li=link_to 'London jobs',  :controller => 'job',  :action => 'location_result', location: 'london%2C+KY'
            %li=link_to 'Louisville jobs',  :controller => 'job',  :action => 'location_result', location: 'louisville%2C+KY'
            %li=link_to 'Nicholasville jobs',  :controller => 'job',  :action => 'location_result', location: 'nicholasville%2C+KY'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Owensboro jobs',  :controller => 'job',  :action => 'location_result', location: 'owensboro%2C+KY'
            %li=link_to 'Paducah jobs',  :controller => 'job',  :action => 'location_result', location: 'paducah%2C+KY'
            %li=link_to 'Richmond jobs',  :controller => 'job',  :action => 'location_result', location: 'richmond%2C+KY'
      .clear-both
  =render(partial: 'job/partials/footer')