#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Alexandria jobs',  :controller => 'job',  :action => 'location_result', location: 'alexandria%2C+LA'
            %li=link_to 'Baton Rouge jobs',  :controller => 'job',  :action => 'location_result', location: 'baton+rouge%2C+LA'
            %li=link_to 'Bossier City jobs',  :controller => 'job',  :action => 'location_result', location: 'bossier+city%2C+LA'
            %li=link_to 'Covington jobs',  :controller => 'job',  :action => 'location_result', location: 'covington%2C+LA'
            %li=link_to 'Gonzales jobs',  :controller => 'job',  :action => 'location_result', location: 'gonzales%2C+LA'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Gretna jobs',  :controller => 'job',  :action => 'location_result', location: 'gretna%2C+LA'
            %li=link_to 'Hammond jobs',  :controller => 'job',  :action => 'location_result', location: 'hammond%2C+LA'
            %li=link_to 'Harvey jobs',  :controller => 'job',  :action => 'location_result', location: 'harvey%2C+LA'
            %li=link_to 'Houma jobs',  :controller => 'job',  :action => 'location_result', location: 'houma%2C+LA'
            %li=link_to 'Kenner jobs',  :controller => 'job',  :action => 'location_result', location: 'kenner%2C+LA'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Lafayette jobs',  :controller => 'job',  :action => 'location_result', location: 'lafayette%2C+LA'
            %li=link_to 'Lake Charles jobs',  :controller => 'job',  :action => 'location_result', location: 'lake+charles%2C+LA'
            %li=link_to 'Metairie jobs',  :controller => 'job',  :action => 'location_result', location: 'metairie%2C+LA'
            %li=link_to 'Monroe jobs',  :controller => 'job',  :action => 'location_result', location: 'monroe%2C+LA'
            %li=link_to 'New Iberia jobs',  :controller => 'job',  :action => 'location_result', location: 'new+iberia%2C+LA'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'New Orleans jobs',  :controller => 'job',  :action => 'location_result', location: 'new+orleans%2C+LA'
            %li=link_to 'Shreveport jobs',  :controller => 'job',  :action => 'location_result', location: 'shreveport%2C+LA'
            %li=link_to 'Slidell jobs',  :controller => 'job',  :action => 'location_result', location: 'slidell%2C+LA'
      .clear-both
  =render(partial: 'job/partials/footer')