#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Auburn jobs',  :controller => 'job',  :action => 'location_result', location: 'auburn%2C+ME'
            %li=link_to 'Augusta jobs',  :controller => 'job',  :action => 'location_result', location: 'augusta%2C+ME'
            %li=link_to 'Bangor jobs',  :controller => 'job',  :action => 'location_result', location: 'bangor%2C+ME'
            %li=link_to 'Biddeford jobs',  :controller => 'job',  :action => 'location_result', location: 'biddeford%2C+ME'
            %li=link_to 'Brunswick jobs',  :controller => 'job',  :action => 'location_result', location: 'brunswick%2C+ME'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'China jobs',  :controller => 'job',  :action => 'location_result', location: 'china%2C+ME'
            %li=link_to 'Ellsworth jobs',  :controller => 'job',  :action => 'location_result', location: 'ellsworth%2C+ME'
            %li=link_to 'Falmouth jobs',  :controller => 'job',  :action => 'location_result', location: 'falmouth%2C+ME'
            %li=link_to 'Freeport jobs',  :controller => 'job',  :action => 'location_result', location: 'freeport%2C+ME'
            %li=link_to 'Kennebunk jobs',  :controller => 'job',  :action => 'location_result', location: 'kennebunk%2C+ME'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Kittery jobs',  :controller => 'job',  :action => 'location_result', location: 'kittery%2C+ME'
            %li=link_to 'Lewiston jobs',  :controller => 'job',  :action => 'location_result', location: 'lewiston%2C+ME'
            %li=link_to 'Portland jobs',  :controller => 'job',  :action => 'location_result', location: 'portland%2C+ME'
            %li=link_to 'Rockland jobs',  :controller => 'job',  :action => 'location_result', location: 'rockland%2C+ME'
            %li=link_to 'Scarborough jobs',  :controller => 'job',  :action => 'location_result', location: 'scarborough%2C+ME'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'South Portland jobs',  :controller => 'job',  :action => 'location_result', location: 'south+portland%2C+ME'
            %li=link_to 'Waterville jobs',  :controller => 'job',  :action => 'location_result', location: 'waterville%2C+ME'
            %li=link_to 'Westbrook jobs',  :controller => 'job',  :action => 'location_result', location: 'westbrook%2C+ME'
      .clear-both
  =render(partial: 'job/partials/footer')