#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Annapolis jobs',  :controller => 'job',  :action => 'location_result', location: 'annapolis%2C+MD'
            %li=link_to 'Baltimore jobs',  :controller => 'job',  :action => 'location_result', location: 'baltimore%2C+MD'
            %li=link_to 'Bethesda jobs',  :controller => 'job',  :action => 'location_result', location: 'bethesda%2C+MD'
            %li=link_to 'Bowie jobs',  :controller => 'job',  :action => 'location_result', location: 'bowie%2C+MD'
            %li=link_to 'College Park jobs',  :controller => 'job',  :action => 'location_result', location: 'college+park%2C+MD'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Columbia jobs',  :controller => 'job',  :action => 'location_result', location: 'columbia%2C+MD'
            %li=link_to 'Frederick jobs',  :controller => 'job',  :action => 'location_result', location: 'frederick%2C+MD'
            %li=link_to 'Gaithersburg jobs',  :controller => 'job',  :action => 'location_result', location: 'gaithersburg%2C+MD'
            %li=link_to 'Glen Burnie jobs',  :controller => 'job',  :action => 'location_result', location: 'glen+burnie%2C+MD'
            %li=link_to 'Hagerstown jobs',  :controller => 'job',  :action => 'location_result', location: 'hagerstown%2C+MD'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Hanover jobs',  :controller => 'job',  :action => 'location_result', location: 'hanover%2C+MD'
            %li=link_to 'Hyattsville jobs',  :controller => 'job',  :action => 'location_result', location: 'hyattsville%2C+MD'
            %li=link_to 'Laurel jobs',  :controller => 'job',  :action => 'location_result', location: 'laurel%2C+MD'
            %li=link_to 'Rockville jobs',  :controller => 'job',  :action => 'location_result', location: 'rockville%2C+MD'
            %li=link_to 'Salisbury jobs',  :controller => 'job',  :action => 'location_result', location: 'salisbury%2C+MD'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Silver Spring jobs',  :controller => 'job',  :action => 'location_result', location: 'silver+spring%2C+MD'
            %li=link_to 'Towson jobs',  :controller => 'job',  :action => 'location_result', location: 'towson%2C+MD'
            %li=link_to 'Waldorf jobs',  :controller => 'job',  :action => 'location_result', location: 'waldorf%2C+MD'
      .clear-both
  =render(partial: 'job/partials/footer')