#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Boston jobs',  :controller => 'job',  :action => 'location_result', location: 'boston%2C+MA'
            %li=link_to 'Braintree jobs',  :controller => 'job',  :action => 'location_result', location: 'braintree%2C+MA'
            %li=link_to 'Brockton jobs',  :controller => 'job',  :action => 'location_result', location: 'brockton%2C+MA'
            %li=link_to 'Burlington jobs',  :controller => 'job',  :action => 'location_result', location: 'burlington%2C+MA'
            %li=link_to 'Cambridge jobs',  :controller => 'job',  :action => 'location_result', location: 'cambridge%2C+MA'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Dedham jobs',  :controller => 'job',  :action => 'location_result', location: 'dedham%2C+MA'
            %li=link_to 'Framingham jobs',  :controller => 'job',  :action => 'location_result', location: 'framingham%2C+MA'
            %li=link_to 'Lexington jobs',  :controller => 'job',  :action => 'location_result', location: 'lexington%2C+MA'
            %li=link_to 'Lowell jobs',  :controller => 'job',  :action => 'location_result', location: 'lowell%2C+MA'
            %li=link_to 'Marlborough jobs',  :controller => 'job',  :action => 'location_result', location: 'marlborough%2C+MA'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Natick jobs',  :controller => 'job',  :action => 'location_result', location: 'natick'
            %li=link_to 'New Bedford jobs',  :controller => 'job',  :action => 'location_result', location: 'new+bedford%2C+MA'
            %li=link_to 'Peabody jobs',  :controller => 'job',  :action => 'location_result', location: 'peabody%2C+MA'
            %li=link_to 'Quincy jobs',  :controller => 'job',  :action => 'location_result', location: 'quincy%2C+MA'
            %li=link_to 'Springfield jobs',  :controller => 'job',  :action => 'location_result', location: 'springfield%2C+MA'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Waltham jobs',  :controller => 'job',  :action => 'location_result', location: 'waltham%2C+MA'
            %li=link_to 'Woburn jobs',  :controller => 'job',  :action => 'location_result', location: 'woburn%2C+MA'
            %li=link_to 'Worcester jobs',  :controller => 'job',  :action => 'location_result', location: 'worcester%2C+MA'
      .clear-both
  =render(partial: 'job/partials/footer')