#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Ann Arbor jobs',  :controller => 'job',  :action => 'location_result', location: 'ann+arbor%2C+MI'
            %li=link_to 'Auburn Hills jobs',  :controller => 'job',  :action => 'location_result', location: 'auburn+hills%2C+MI'
            %li=link_to 'Battle Creek jobs',  :controller => 'job',  :action => 'location_result', location: 'battle+creek%2C+MI'
            %li=link_to 'Dearborn jobs',  :controller => 'job',  :action => 'location_result', location: 'dearborn%2C+MI'
            %li=link_to 'Detroit jobs',  :controller => 'job',  :action => 'location_result', location: 'detroit%2C+MI'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Flint jobs',  :controller => 'job',  :action => 'location_result', location: 'flint%2C+MI'
            %li=link_to 'Grand Rapids jobs',  :controller => 'job',  :action => 'location_result', location: 'grand+rapids%2C+MI'
            %li=link_to 'Holland jobs',  :controller => 'job',  :action => 'location_result', location: 'holland%2C+MI'
            %li=link_to 'Jackson jobs',  :controller => 'job',  :action => 'location_result', location: 'jackson%2C+MI'
            %li=link_to 'Kalamazoo jobs',  :controller => 'job',  :action => 'location_result', location: 'kalamazoo%2C+MI'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Lansing jobs',  :controller => 'job',  :action => 'location_result', location: 'lansing%2C+MI'
            %li=link_to 'Livonia jobs',  :controller => 'job',  :action => 'location_result', location: 'livonia%2C+MI'
            %li=link_to 'Novi jobs',  :controller => 'job',  :action => 'location_result', location: 'novi%2C+MI'
            %li=link_to 'Saginaw jobs',  :controller => 'job',  :action => 'location_result', location: 'saginaw%2C+MI'
            %li=link_to 'Southfield jobs',  :controller => 'job',  :action => 'location_result', location: 'southfield%2C+MI'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Sterling Heights jobs',  :controller => 'job',  :action => 'location_result', location: 'sterling+heights%2C+MI'
            %li=link_to 'Troy jobs',  :controller => 'job',  :action => 'location_result', location: 'troy%2C+MI'
            %li=link_to 'Warren jobs',  :controller => 'job',  :action => 'location_result', location: 'warren%2C+MI'
      .clear-both
  =render(partial: 'job/partials/footer')