#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Bloomington jobs',  :controller => 'job',  :action => 'location_result', location: 'bloomington%2C+MN'
            %li=link_to 'Burnsville jobs',  :controller => 'job',  :action => 'location_result', location: 'burnsville%2C+MN'
            %li=link_to 'Chanhassen jobs',  :controller => 'job',  :action => 'location_result', location: 'chanhassen%2C+MN'
            %li=link_to 'Duluth jobs',  :controller => 'job',  :action => 'location_result', location: 'duluth%2C+MN'
            %li=link_to 'Eagan jobs',  :controller => 'job',  :action => 'location_result', location: 'eagan%2C+MN'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Eden Prairie jobs',  :controller => 'job',  :action => 'location_result', location: 'eden+prairie%2C+MN'
            %li=link_to 'Edina jobs',  :controller => 'job',  :action => 'location_result', location: 'edina%2C+MN'
            %li=link_to 'Hopkins jobs',  :controller => 'job',  :action => 'location_result', location: 'hopkins%2C+MN'
            %li=link_to 'Mankato jobs',  :controller => 'job',  :action => 'location_result', location: 'mankato%2C+MN'
            %li=link_to 'Minneapolis jobs',  :controller => 'job',  :action => 'location_result', location: 'minneapolis%2C+MN'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Minnetonka jobs',  :controller => 'job',  :action => 'location_result', location: 'minnetonka%2C+MN'
            %li=link_to 'Moorhead jobs',  :controller => 'job',  :action => 'location_result', location: 'moorhead%2C+MN'
            %li=link_to 'Plymouth jobs',  :controller => 'job',  :action => 'location_result', location: 'plymouth%2C+MN'
            %li=link_to 'Rochester jobs',  :controller => 'job',  :action => 'location_result', location: 'rochester%2C+MN'
            %li=link_to 'Roseville jobs',  :controller => 'job',  :action => 'location_result', location: 'roseville%2C+MN'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Saint Cloud jobs',  :controller => 'job',  :action => 'location_result', location: 'saint+cloud%2C+MN'
            %li=link_to 'Saint Paul jobs',  :controller => 'job',  :action => 'location_result', location: 'saint+paul%2C+MN'
            %li=link_to 'Shakopee jobs',  :controller => 'job',  :action => 'location_result', location: 'shakopee%2C+MN'
      .clear-both
  =render(partial: 'job/partials/footer')