#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Ballwin jobs',  :controller => 'job',  :action => 'location_result', location: 'ballwin%2C+MO'
            %li=link_to 'Branson jobs',  :controller => 'job',  :action => 'location_result', location: 'branson%2C+MO'
            %li=link_to 'Cape Girardeau jobs',  :controller => 'job',  :action => 'location_result', location: 'cape+girardeau%2C+MO'
            %li=link_to 'Chesterfield jobs',  :controller => 'job',  :action => 'location_result', location: 'chesterfield%2C+MO'
            %li=link_to 'Columbia jobs',  :controller => 'job',  :action => 'location_result', location: 'columbia%2C+MO'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Fenton jobs',  :controller => 'job',  :action => 'location_result', location: 'fenton%2C+MO'
            %li=link_to 'Florissant jobs',  :controller => 'job',  :action => 'location_result', location: 'florissant%2C+MO'
            %li=link_to 'Independence jobs',  :controller => 'job',  :action => 'location_result', location: 'independence%2C+MO'
            %li=link_to 'Jefferson City jobs',  :controller => 'job',  :action => 'location_result', location: 'jefferson+city%2C+MO'
            %li=link_to 'Joplin jobs',  :controller => 'job',  :action => 'location_result', location: 'joplin%2C+MO'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Kansas City jobs',  :controller => 'job',  :action => 'location_result', location: 'kansas+city%2C+MO'
            %li=link_to 'Lees Summit jobs',  :controller => 'job',  :action => 'location_result', location: 'lees+summit%2C+MO'
            %li=link_to 'Saint Charles jobs',  :controller => 'job',  :action => 'location_result', location: 'saint+charles%2C+MO'
            %li=link_to 'Saint Joseph jobs',  :controller => 'job',  :action => 'location_result', location: 'saint+joseph%2C+MO'
            %li=link_to 'Saint Louis jobs',  :controller => 'job',  :action => 'location_result', location: 'saint+louis%2C+MO'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Saint Peters jobs',  :controller => 'job',  :action => 'location_result', location: 'saint+peters%2C+MO'
            %li=link_to 'Springfield jobs',  :controller => 'job',  :action => 'location_result', location: 'springfield%2C+MO'
            %li=link_to 'St Louis jobs',  :controller => 'job',  :action => 'location_result', location: 'st+louis%2C+MO'
      .clear-both
  =render(partial: 'job/partials/footer')