#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Biloxi jobs',  :controller => 'job',  :action => 'location_result', location: 'biloxi%2C+MS'
            %li=link_to 'Brandon jobs',  :controller => 'job',  :action => 'location_result', location: 'brandon%2C+MS'
            %li=link_to 'Columbus jobs',  :controller => 'job',  :action => 'location_result', location: 'columbus%2C+MS'
            %li=link_to 'Flowood jobs',  :controller => 'job',  :action => 'location_result', location: 'flowood%2C+MS'
            %li=link_to 'Greenville jobs',  :controller => 'job',  :action => 'location_result', location: 'greenville%2C+MS'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Gulfport jobs',  :controller => 'job',  :action => 'location_result', location: 'gulfport%2C+MS'
            %li=link_to 'Hattiesburg jobs',  :controller => 'job',  :action => 'location_result', location: 'hattiesburg%2C+MS'
            %li=link_to 'Jackson jobs',  :controller => 'job',  :action => 'location_result', location: 'jackson%2C+MS'
            %li=link_to 'Meridian jobs',  :controller => 'job',  :action => 'location_result', location: 'meridian%2C+MS'
            %li=link_to 'Natchez jobs',  :controller => 'job',  :action => 'location_result', location: 'natchez%2C+MS'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Olive Branch jobs',  :controller => 'job',  :action => 'location_result', location: 'olive+branch%2C+MS'
            %li=link_to 'Oxford jobs',  :controller => 'job',  :action => 'location_result', location: 'oxford%2C+MS'
            %li=link_to 'Pascagoula jobs',  :controller => 'job',  :action => 'location_result', location: 'pascagoula%2C+MS'
            %li=link_to 'Pearl jobs',  :controller => 'job',  :action => 'location_result', location: 'pearl%2C+MS'
            %li=link_to 'Ridgeland jobs',  :controller => 'job',  :action => 'location_result', location: 'ridgeland%2C+MS'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Southaven jobs',  :controller => 'job',  :action => 'location_result', location: 'southaven%2C+MS'
            %li=link_to 'Tupelo jobs',  :controller => 'job',  :action => 'location_result', location: 'tupelo%2C+MS'
            %li=link_to 'Vicksburg jobs',  :controller => 'job',  :action => 'location_result', location: 'vicksburg%2C+MS'
      .clear-both
  =render(partial: 'job/partials/footer')