#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Belgrade jobs',  :controller => 'job',  :action => 'location_result', location: 'belgrade%2C+MT'
            %li=link_to 'Billings jobs',  :controller => 'job',  :action => 'location_result', location: 'billings%2C+MT'
            %li=link_to 'Bozeman jobs',  :controller => 'job',  :action => 'location_result', location: 'bozeman%2C+MT'
            %li=link_to 'Butte jobs',  :controller => 'job',  :action => 'location_result', location: 'butte%2C+MT'
            %li=link_to 'Dillon jobs',  :controller => 'job',  :action => 'location_result', location: 'dillon%2C+MT'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Glasgow jobs',  :controller => 'job',  :action => 'location_result', location: 'glasgow%2C+MT'
            %li=link_to 'Glendive jobs',  :controller => 'job',  :action => 'location_result', location: 'glendive%2C+MT'
            %li=link_to 'Great Falls jobs',  :controller => 'job',  :action => 'location_result', location: 'great+falls%2C+MT'
            %li=link_to 'Hamilton jobs',  :controller => 'job',  :action => 'location_result', location: 'hamilton%2C+MT'
            %li=link_to 'Havre jobs',  :controller => 'job',  :action => 'location_result', location: 'havre%2C+MT'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Helena jobs',  :controller => 'job',  :action => 'location_result', location: 'helena%2C+MT'
            %li=link_to 'Kalispell jobs',  :controller => 'job',  :action => 'location_result', location: 'kalispell%2C+MT'
            %li=link_to 'Libby jobs',  :controller => 'job',  :action => 'location_result', location: 'libby%2C+MT'
            %li=link_to 'Livingston jobs',  :controller => 'job',  :action => 'location_result', location: 'livingston%2C+MT'
            %li=link_to 'Miles City jobs',  :controller => 'job',  :action => 'location_result', location: 'miles+city%2C+MT'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Missoula jobs',  :controller => 'job',  :action => 'location_result', location: 'missoula%2C+MT'
            %li=link_to 'Shelby jobs',  :controller => 'job',  :action => 'location_result', location: 'shelby%2C+MT'
            %li=link_to 'Sidney jobs',  :controller => 'job',  :action => 'location_result', location: 'sidney%2C+MT'
      .clear-both
  =render(partial: 'job/partials/footer')