#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Beatrice jobs',  :controller => 'job',  :action => 'location_result', location: 'beatrice%2C+NE'
            %li=link_to 'Bellevue jobs',  :controller => 'job',  :action => 'location_result', location: 'bellevue%2C+NE'
            %li=link_to 'Center jobs',  :controller => 'job',  :action => 'location_result', location: 'center%2C+NE'
            %li=link_to 'Columbus jobs',  :controller => 'job',  :action => 'location_result', location: 'columbus%2C+NE'
            %li=link_to 'Elkhorn jobs',  :controller => 'job',  :action => 'location_result', location: 'elkhorn%2C+NE'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Fremont jobs',  :controller => 'job',  :action => 'location_result', location: 'fremont%2C+NE'
            %li=link_to 'Grand Island jobs',  :controller => 'job',  :action => 'location_result', location: 'grand+island%2C+NE'
            %li=link_to 'Gretna jobs',  :controller => 'job',  :action => 'location_result', location: 'gretna%2C+NE'
            %li=link_to 'Hastings jobs',  :controller => 'job',  :action => 'location_result', location: 'hastings%2C+NE'
            %li=link_to 'Kearney jobs',  :controller => 'job',  :action => 'location_result', location: 'kearney%2C+NE'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'La Vista jobs',  :controller => 'job',  :action => 'location_result', location: 'la+vista%2C+NE'
            %li=link_to 'Lincoln jobs',  :controller => 'job',  :action => 'location_result', location: 'lincoln%2C+NE'
            %li=link_to 'Norfolk jobs',  :controller => 'job',  :action => 'location_result', location: 'norfolk%2C+NE'
            %li=link_to 'North Platte jobs',  :controller => 'job',  :action => 'location_result', location: 'north+platte%2C+NE'
            %li=link_to 'Omaha jobs',  :controller => 'job',  :action => 'location_result', location: 'omaha%2C+NE'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Papillion jobs',  :controller => 'job',  :action => 'location_result', location: 'papillion%2C+NE'
            %li=link_to 'Scottsbluff jobs',  :controller => 'job',  :action => 'location_result', location: 'scottsbluff%2C+NE'
            %li=link_to 'South Sioux City jobs',  :controller => 'job',  :action => 'location_result', location: 'south+sioux+city%2C+NE'
      .clear-both
  =render(partial: 'job/partials/footer')