#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Boulder City jobs',  :controller => 'job',  :action => 'location_result', location: 'boulder+city%2C+NV'
            %li=link_to 'Carson City jobs',  :controller => 'job',  :action => 'location_result', location: 'carson+city%2C+NV'
            %li=link_to 'Elko jobs',  :controller => 'job',  :action => 'location_result', location: 'elko%2C+NV'
            %li=link_to 'Ely jobs',  :controller => 'job',  :action => 'location_result', location: 'ely%2C+NV'
            %li=link_to 'Fallon jobs',  :controller => 'job',  :action => 'location_result', location: 'fallon%2C+NV'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Fernley jobs',  :controller => 'job',  :action => 'location_result', location: 'fernley%2C+NV'
            %li=link_to 'Henderson jobs',  :controller => 'job',  :action => 'location_result', location: 'henderson%2C+NV'
            %li=link_to 'Incline Village jobs',  :controller => 'job',  :action => 'location_result', location: 'incline+village%2C+NV'
            %li=link_to 'Jackpot jobs',  :controller => 'job',  :action => 'location_result', location: 'jackpot%2C+NV'
            %li=link_to 'Las Vegas jobs',  :controller => 'job',  :action => 'location_result', location: 'las+vegas%2C+NV'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Laughlin jobs',  :controller => 'job',  :action => 'location_result', location: 'laughlin%2C+NV'
            %li=link_to 'Mesquite jobs',  :controller => 'job',  :action => 'location_result', location: 'mesquite%2C+NV'
            %li=link_to 'North Las Vegas jobs',  :controller => 'job',  :action => 'location_result', location: 'north+las+vegas%2C+NV'
            %li=link_to 'Pahrump jobs',  :controller => 'job',  :action => 'location_result', location: 'pahrump%2C+NV'
            %li=link_to 'Reno jobs',  :controller => 'job',  :action => 'location_result', location: 'reno%2C+NV'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Sparks jobs',  :controller => 'job',  :action => 'location_result', location: 'sparks%2C+NV'
            %li=link_to 'Stateline jobs',  :controller => 'job',  :action => 'location_result', location: 'stateline%2C+NV'
            %li=link_to 'Winnemucca jobs',  :controller => 'job',  :action => 'location_result', location: 'winnemucca%2C+NV'
      .clear-both
  =render(partial: 'job/partials/footer')