#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Atlantic City jobs',  :controller => 'job',  :action => 'location_result', location: 'atlantic+city%2C+NJ'
            %li=link_to 'Bridgewater jobs',  :controller => 'job',  :action => 'location_result', location: 'bridgewater%2C+NJ'
            %li=link_to 'Cherry Hill jobs',  :controller => 'job',  :action => 'location_result', location: 'cherry+hill%2C+NJ'
            %li=link_to 'Edison jobs',  :controller => 'job',  :action => 'location_result', location: 'edison%2C+NJ'
            %li=link_to 'Elizabeth jobs',  :controller => 'job',  :action => 'location_result', location: 'elizabeth%2C+NJ'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Freehold jobs',  :controller => 'job',  :action => 'location_result', location: 'freehold%2C+NJ'
            %li=link_to 'Jersey City jobs',  :controller => 'job',  :action => 'location_result', location: 'jersey+city%2C+NJ'
            %li=link_to 'Morristown jobs',  :controller => 'job',  :action => 'location_result', location: 'morristown%2C+NJ'
            %li=link_to 'Mount Laurel jobs',  :controller => 'job',  :action => 'location_result', location: 'mount+laurel%2C+NJ'
            %li=link_to 'New Brunswick jobs',  :controller => 'job',  :action => 'location_result', location: 'new+brunswick%2C+NJ'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Newark jobs',  :controller => 'job',  :action => 'location_result', location: 'newark%2C+NJ'
            %li=link_to 'Paramus jobs',  :controller => 'job',  :action => 'location_result', location: 'paramus%2C+NJ'
            %li=link_to 'Parsippany jobs',  :controller => 'job',  :action => 'location_result', location: 'parsippany%2C+NJ'
            %li=link_to 'Paterson jobs',  :controller => 'job',  :action => 'location_result', location: 'paterson%2C+NJ'
            %li=link_to 'Princeton jobs',  :controller => 'job',  :action => 'location_result', location: 'princeton%2C+NJ'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Toms River jobs',  :controller => 'job',  :action => 'location_result', location: 'toms+river%2C+NJ'
            %li=link_to 'Trenton jobs',  :controller => 'job',  :action => 'location_result', location: 'trenton%2C+NJ'
            %li=link_to 'Wayne jobs',  :controller => 'job',  :action => 'location_result', location: 'wayne%2C+NJ'
      .clear-both
  =render(partial: 'job/partials/footer')