#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Alamogordo jobs',  :controller => 'job',  :action => 'location_result', location: 'alamogordo%2C+NM'
            %li=link_to 'Albuquerque jobs',  :controller => 'job',  :action => 'location_result', location: 'albuquerque%2C+NM'
            %li=link_to 'Artesia jobs',  :controller => 'job',  :action => 'location_result', location: 'artesia%2C+NM'
            %li=link_to 'Carlsbad jobs',  :controller => 'job',  :action => 'location_result', location: 'carlsbad%2C+NM'
            %li=link_to 'Clovis jobs',  :controller => 'job',  :action => 'location_result', location: 'clovis%2C+NM'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Deming jobs',  :controller => 'job',  :action => 'location_result', location: 'deming%2C+NM'
            %li=link_to 'Farmington jobs',  :controller => 'job',  :action => 'location_result', location: 'farmington%2C+NM'
            %li=link_to 'Gallup jobs',  :controller => 'job',  :action => 'location_result', location: 'gallup%2C+NM'
            %li=link_to 'Hobbs jobs',  :controller => 'job',  :action => 'location_result', location: 'hobbs%2C+NM'
            %li=link_to 'Las Cruces jobs',  :controller => 'job',  :action => 'location_result', location: 'las+cruces%2C+NM'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Las Vegas jobs',  :controller => 'job',  :action => 'location_result', location: 'las+vegas%2C+NM'
            %li=link_to 'Los Alamos jobs',  :controller => 'job',  :action => 'location_result', location: 'los+alamos%2C+NM'
            %li=link_to 'Los Lunas jobs',  :controller => 'job',  :action => 'location_result', location: 'los+lunas%2C+NM'
            %li=link_to 'Rio Rancho jobs',  :controller => 'job',  :action => 'location_result', location: 'rio+rancho%2C+NM'
            %li=link_to 'Roswell jobs',  :controller => 'job',  :action => 'location_result', location: 'roswell%2C+NM'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Santa Fe jobs',  :controller => 'job',  :action => 'location_result', location: 'santa+fe%2C+NM'
            %li=link_to 'Shiprock jobs',  :controller => 'job',  :action => 'location_result', location: 'shiprock%2C+NM'
            %li=link_to 'Silver City jobs',  :controller => 'job',  :action => 'location_result', location: 'silver+city%2C+NM'
      .clear-both
  =render(partial: 'job/partials/footer')