#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Bedford jobs',  :controller => 'job',  :action => 'location_result', location: 'bedford%2C+NH'
            %li=link_to 'Concord jobs',  :controller => 'job',  :action => 'location_result', location: 'concord%2C+NH'
            %li=link_to 'Derry jobs',  :controller => 'job',  :action => 'location_result', location: 'derry%2C+NH'
            %li=link_to 'Dover jobs',  :controller => 'job',  :action => 'location_result', location: 'dover%2C+NH'
            %li=link_to 'Exeter jobs',  :controller => 'job',  :action => 'location_result', location: 'exeter%2C+NH'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Hanover jobs',  :controller => 'job',  :action => 'location_result', location: 'hanover%2C+NH'
            %li=link_to 'Keene jobs',  :controller => 'job',  :action => 'location_result', location: 'keene%2C+NH'
            %li=link_to 'Laconia jobs',  :controller => 'job',  :action => 'location_result', location: 'laconia%2C+NH'
            %li=link_to 'Lebanon jobs',  :controller => 'job',  :action => 'location_result', location: 'lebanon%2C+NH'
            %li=link_to 'Londonderry jobs',  :controller => 'job',  :action => 'location_result', location: 'londonderry%2C+NH'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Manchester jobs',  :controller => 'job',  :action => 'location_result', location: 'manchester%2C+NH'
            %li=link_to 'Merrimack jobs',  :controller => 'job',  :action => 'location_result', location: 'merrimack%2C+NH'
            %li=link_to 'Nashua jobs',  :controller => 'job',  :action => 'location_result', location: 'nashua%2C+NH'
            %li=link_to 'Portsmouth jobs',  :controller => 'job',  :action => 'location_result', location: 'portsmouth%2C+NH'
            %li=link_to 'Rochester jobs',  :controller => 'job',  :action => 'location_result', location: 'rochester%2C+NH'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Salem jobs',  :controller => 'job',  :action => 'location_result', location: 'salem%2C+NH'
            %li=link_to 'Seabrook jobs',  :controller => 'job',  :action => 'location_result', location: 'seabrook%2C+NH'
            %li=link_to 'Somersworth jobs',  :controller => 'job',  :action => 'location_result', location: 'somersworth%2C+NH'
      .clear-both
  =render(partial: 'job/partials/footer')