#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Albany jobs',  :controller => 'job',  :action => 'location_result', location: 'albany%2C+NY'
            %li=link_to 'Bronx jobs',  :controller => 'job',  :action => 'location_result', location: 'bronx%2C+NY'
            %li=link_to 'Brooklyn jobs',  :controller => 'job',  :action => 'location_result', location: 'brooklyn%2C+NY'
            %li=link_to 'Buffalo jobs',  :controller => 'job',  :action => 'location_result', location: 'buffalo%2C+NY'
            %li=link_to 'Garden City jobs',  :controller => 'job',  :action => 'location_result', location: 'garden+city%2C+NY'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Ithaca jobs',  :controller => 'job',  :action => 'location_result', location: 'ithaca%2C+NY'
            %li=link_to 'Melville jobs',  :controller => 'job',  :action => 'location_result', location: 'melville%2C+NY'
            %li=link_to 'New York City jobs',  :controller => 'job',  :action => 'location_result', location: 'new+york+city%2C+NY'
            %li=link_to 'New York jobs',  :controller => 'job',  :action => 'location_result', location: 'new+york%2C+NY'
            %li=link_to 'Poughkeepsie jobs',  :controller => 'job',  :action => 'location_result', location: 'poughkeepsie%2C+NY'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Rochester jobs',  :controller => 'job',  :action => 'location_result', location: 'rochester%2C+NY'
            %li=link_to 'Schenectady jobs',  :controller => 'job',  :action => 'location_result', location: 'schenectady%2C+NY'
            %li=link_to 'Staten Island jobs',  :controller => 'job',  :action => 'location_result', location: 'staten+island%2C+NY'
            %li=link_to 'Stony Brook jobs',  :controller => 'job',  :action => 'location_result', location: 'stony+brook%2C+NY'
            %li=link_to 'Syracuse jobs',  :controller => 'job',  :action => 'location_result', location: 'syracuse%2C+NY'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Watertown jobs',  :controller => 'job',  :action => 'location_result', location: 'watertown%2C+NY'
            %li=link_to 'White Plains jobs',  :controller => 'job',  :action => 'location_result', location: 'white+plains%2C+NY'
            %li=link_to 'Yonkers jobs',  :controller => 'job',  :action => 'location_result', location: 'yonkers%2C+NY'
      .clear-both
  =render(partial: 'job/partials/footer')