#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Beach jobs',  :controller => 'job',  :action => 'location_result', location: 'beach%2C+ND'
            %li=link_to 'Belcourt jobs',  :controller => 'job',  :action => 'location_result', location: 'belcourt%2C+ND'
            %li=link_to 'Bismarck jobs',  :controller => 'job',  :action => 'location_result', location: 'bismarck%2C+ND'
            %li=link_to 'Devils Lake jobs',  :controller => 'job',  :action => 'location_result', location: 'devils+lake%2C+ND'
            %li=link_to 'Dickinson jobs',  :controller => 'job',  :action => 'location_result', location: 'dickinson%2C+ND'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Fargo jobs',  :controller => 'job',  :action => 'location_result', location: 'fargo%2C+ND'
            %li=link_to 'Grand Forks jobs',  :controller => 'job',  :action => 'location_result', location: 'grand+forks%2C+ND'
            %li=link_to 'Jamestown jobs',  :controller => 'job',  :action => 'location_result', location: 'jamestown%2C+ND'
            %li=link_to 'Mandan jobs',  :controller => 'job',  :action => 'location_result', location: 'mandan%2C+ND'
            %li=link_to 'Minot Afb jobs',  :controller => 'job',  :action => 'location_result', location: 'minot+afb%2C+ND'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Minot jobs',  :controller => 'job',  :action => 'location_result', location: 'minot%2C+ND'
            %li=link_to 'Stanley jobs',  :controller => 'job',  :action => 'location_result', location: 'stanley%2C+ND'
            %li=link_to 'Tioga jobs',  :controller => 'job',  :action => 'location_result', location: 'tioga%2C+ND'
            %li=link_to 'Valley City jobs',  :controller => 'job',  :action => 'location_result', location: 'valley+city%2C+ND'
            %li=link_to 'Wahpeton jobs',  :controller => 'job',  :action => 'location_result', location: 'wahpeton%2C+ND'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Watford City jobs',  :controller => 'job',  :action => 'location_result', location: 'watford+city%2C+ND'
            %li=link_to 'West Fargo jobs',  :controller => 'job',  :action => 'location_result', location: 'west+fargo%2C+ND'
            %li=link_to 'Williston jobs',  :controller => 'job',  :action => 'location_result', location: 'williston%2C+ND'
      .clear-both

  =render(partial: 'job/partials/footer')