#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Asheville jobs',  :controller => 'job',  :action => 'location_result', location: 'asheville%2C+NC'
            %li=link_to 'Burlington jobs',  :controller => 'job',  :action => 'location_result', location: 'burlington%2C+NC'
            %li=link_to 'Cary jobs',  :controller => 'job',  :action => 'location_result', location: 'cary%2C+NC'
            %li=link_to 'Chapel Hill jobs',  :controller => 'job',  :action => 'location_result', location: 'chapel+hill%2C+NC'
            %li=link_to 'Charlotte jobs',  :controller => 'job',  :action => 'location_result', location: 'charlotte%2C+NC'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Concord jobs',  :controller => 'job',  :action => 'location_result', location: 'concord%2C+NC'
            %li=link_to 'Durham jobs',  :controller => 'job',  :action => 'location_result', location: 'durham%2C+NC'
            %li=link_to 'Fayetteville jobs',  :controller => 'job',  :action => 'location_result', location: 'fayetteville%2C+NC'
            %li=link_to 'Gastonia jobs',  :controller => 'job',  :action => 'location_result', location: 'gastonia%2C+NC'
            %li=link_to 'Greensboro jobs',  :controller => 'job',  :action => 'location_result', location: 'greensboro%2C+NC'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Greenville jobs',  :controller => 'job',  :action => 'location_result', location: 'greenville%2C+NC'
            %li=link_to 'Hickory jobs',  :controller => 'job',  :action => 'location_result', location: 'hickory%2C+NC'
            %li=link_to 'High Point jobs',  :controller => 'job',  :action => 'location_result', location: 'high+point%2C+NC'
            %li=link_to 'Jacksonville jobs',  :controller => 'job',  :action => 'location_result', location: 'jacksonville%2C+NC'
            %li=link_to 'Morrisville jobs',  :controller => 'job',  :action => 'location_result', location: 'morrisville%2C+NC'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Raleigh jobs',  :controller => 'job',  :action => 'location_result', location: 'raleigh%2C+NC'
            %li=link_to 'Wilmington jobs',  :controller => 'job',  :action => 'location_result', location: 'wilmington%2C+NC'
            %li=link_to 'Winston Salem jobs',  :controller => 'job',  :action => 'location_result', location: 'winston+salem%2C+NC'
      .clear-both
  =render(partial: 'job/partials/footer')