#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Akron jobs',  :controller => 'job',  :action => 'location_result', location: 'akron%2C+OH'
            %li=link_to 'Beachwood jobs',  :controller => 'job',  :action => 'location_result', location: 'beachwood%2C+OH'
            %li=link_to 'Canton jobs',  :controller => 'job',  :action => 'location_result', location: 'canton%2C+OH'
            %li=link_to 'Cincinnati jobs',  :controller => 'job',  :action => 'location_result', location: 'cincinnati%2C+OH'
            %li=link_to 'Cleveland jobs',  :controller => 'job',  :action => 'location_result', location: 'cleveland%2C+OH'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Columbus jobs',  :controller => 'job',  :action => 'location_result', location: 'columbus%2C+OH'
            %li=link_to 'Dayton jobs',  :controller => 'job',  :action => 'location_result', location: 'dayton%2C+OH'
            %li=link_to 'Dublin jobs',  :controller => 'job',  :action => 'location_result', location: 'dublin%2C+OH'
            %li=link_to 'Findlay jobs',  :controller => 'job',  :action => 'location_result', location: 'findlay%2C+OH'
            %li=link_to 'Hamilton jobs',  :controller => 'job',  :action => 'location_result', location: 'hamilton%2C+OH'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Independence jobs',  :controller => 'job',  :action => 'location_result', location: 'independence%2C+OH'
            %li=link_to 'Lima jobs',  :controller => 'job',  :action => 'location_result', location: 'lima%2C+OH'
            %li=link_to 'Mansfield jobs',  :controller => 'job',  :action => 'location_result', location: 'mansfield%2C+OH'
            %li=link_to 'Mason jobs',  :controller => 'job',  :action => 'location_result', location: 'mason%2C+OH'
            %li=link_to 'Mentor jobs',  :controller => 'job',  :action => 'location_result', location: 'mentor%2C+OH'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Springfield jobs',  :controller => 'job',  :action => 'location_result', location: 'springfield%2C+OH'
            %li=link_to 'Toledo jobs',  :controller => 'job',  :action => 'location_result', location: 'toledo%2C+OH'
            %li=link_to 'Youngstown jobs',  :controller => 'job',  :action => 'location_result', location: 'youngstown%2C+OH'
      .clear-both
  =render(partial: 'job/partials/footer')