#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Ada jobs',  :controller => 'job',  :action => 'location_result', location: 'ada%2C+OK'
            %li=link_to 'Ardmore jobs',  :controller => 'job',  :action => 'location_result', location: 'ardmore%2C+OK'
            %li=link_to 'Bartlesville jobs',  :controller => 'job',  :action => 'location_result', location: 'bartlesville%2C+OK'
            %li=link_to 'Broken Arrow jobs',  :controller => 'job',  :action => 'location_result', location: 'broken+arrow%2C+OK'
            %li=link_to 'Claremore jobs',  :controller => 'job',  :action => 'location_result', location: 'claremore%2C+OK'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Edmond jobs',  :controller => 'job',  :action => 'location_result', location: 'edmond%2C+OK'
            %li=link_to 'Enid jobs',  :controller => 'job',  :action => 'location_result', location: 'enid%2C+OK'
            %li=link_to 'Lawton jobs',  :controller => 'job',  :action => 'location_result', location: 'lawton%2C+OK'
            %li=link_to 'Mcalester jobs',  :controller => 'job',  :action => 'location_result', location: 'mcalester%2C+OK'
            %li=link_to 'Muskogee jobs',  :controller => 'job',  :action => 'location_result', location: 'muskogee%2C+OK'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Norman jobs',  :controller => 'job',  :action => 'location_result', location: 'norman%2C+OK'
            %li=link_to 'Oklahoma City jobs',  :controller => 'job',  :action => 'location_result', location: 'oklahoma+city%2C+OK'
            %li=link_to 'Owasso jobs',  :controller => 'job',  :action => 'location_result', location: 'owasso%2C+OK'
            %li=link_to 'Shawnee jobs',  :controller => 'job',  :action => 'location_result', location: 'shawnee%2C+OK'
            %li=link_to 'Stillwater jobs',  :controller => 'job',  :action => 'location_result', location: 'stillwater%2C+OK'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Tulsa jobs',  :controller => 'job',  :action => 'location_result', location: 'tulsa%2C+OK'
            %li=link_to 'Woodward jobs',  :controller => 'job',  :action => 'location_result', location: 'woodward%2C+OK'
            %li=link_to 'Yukon jobs',  :controller => 'job',  :action => 'location_result', location: 'yukon%2C+OK'
      .clear-both
  =render(partial: 'job/partials/footer')