#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Allentown jobs',  :controller => 'job',  :action => 'location_result', location: 'allentown%2C+PA'
            %li=link_to 'Altoona jobs',  :controller => 'job',  :action => 'location_result', location: 'altoona%2C+PA'
            %li=link_to 'Bethlehem jobs',  :controller => 'job',  :action => 'location_result', location: 'bethlehem%2C+PA'
            %li=link_to 'Carlisle jobs',  :controller => 'job',  :action => 'location_result', location: 'carlisle%2C+PA'
            %li=link_to 'Erie jobs',  :controller => 'job',  :action => 'location_result', location: 'erie%2C+PA'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Greensburg jobs',  :controller => 'job',  :action => 'location_result', location: 'greensburg%2C+PA'
            %li=link_to 'Harrisburg jobs',  :controller => 'job',  :action => 'location_result', location: 'harrisburg%2C+PA'
            %li=link_to 'King of Prussia jobs',  :controller => 'job',  :action => 'location_result', location: 'king+of+prussia%2C+PA'
            %li=link_to 'Lancaster jobs',  :controller => 'job',  :action => 'location_result', location: 'lancaster%2C+PA'
            %li=link_to 'Mechanicsburg jobs',  :controller => 'job',  :action => 'location_result', location: 'mechanicsburg%2C+PA'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Monroeville jobs',  :controller => 'job',  :action => 'location_result', location: 'monroeville%2C+PA'
            %li=link_to 'Philadelphia jobs',  :controller => 'job',  :action => 'location_result', location: 'philadelphia%2C+PA'
            %li=link_to 'Pittsburgh jobs',  :controller => 'job',  :action => 'location_result', location: 'pittsburgh%2C+PA'
            %li=link_to 'Reading jobs',  :controller => 'job',  :action => 'location_result', location: 'reading%2C+PA'
            %li=link_to 'Scranton jobs',  :controller => 'job',  :action => 'location_result', location: 'scranton%2C+PA'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'State College jobs',  :controller => 'job',  :action => 'location_result', location: 'state+college%2C+PA'
            %li=link_to 'West Chester jobs',  :controller => 'job',  :action => 'location_result', location: 'west+chester%2C+PA'
            %li=link_to 'York jobs',  :controller => 'job',  :action => 'location_result', location: 'york%2C+PA'
      .clear-both
  =render(partial: 'job/partials/footer')