#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Bristol jobs',  :controller => 'job',  :action => 'location_result', location: 'bristol%2C+RI'
            %li=link_to 'Coventry jobs',  :controller => 'job',  :action => 'location_result', location: 'coventry%2C+RI'
            %li=link_to 'Cranston jobs',  :controller => 'job',  :action => 'location_result', location: 'cranston%2C+RI'
            %li=link_to 'Cumberland jobs',  :controller => 'job',  :action => 'location_result', location: 'cumberland%2C+RI'
            %li=link_to 'East Greenwich jobs',  :controller => 'job',  :action => 'location_result', location: 'east+greenwich%2C+RI'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'East Providence jobs',  :controller => 'job',  :action => 'location_result', location: 'east+providence%2C+RI'
            %li=link_to 'Lincoln jobs',  :controller => 'job',  :action => 'location_result', location: 'lincoln%2C+RI'
            %li=link_to 'Middletown jobs',  :controller => 'job',  :action => 'location_result', location: 'middletown%2C+RI'
            %li=link_to 'Newport jobs',  :controller => 'job',  :action => 'location_result', location: 'newport%2C+RI'
            %li=link_to 'North Kingstown jobs',  :controller => 'job',  :action => 'location_result', location: 'north+kingstown%2C+RI'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Pawtucket jobs',  :controller => 'job',  :action => 'location_result', location: 'pawtucket%2C+RI'
            %li=link_to 'Providence jobs',  :controller => 'job',  :action => 'location_result', location: 'providence%2C+RI'
            %li=link_to 'Riverside jobs',  :controller => 'job',  :action => 'location_result', location: 'riverside%2C+RI'
            %li=link_to 'Smithfield jobs',  :controller => 'job',  :action => 'location_result', location: 'smithfield%2C+RI'
            %li=link_to 'Warwick jobs',  :controller => 'job',  :action => 'location_result', location: 'warwick%2C+RI'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'West Kingston jobs',  :controller => 'job',  :action => 'location_result', location: 'west+kingston%2C+RI'
            %li=link_to 'Westerly jobs',  :controller => 'job',  :action => 'location_result', location: 'westerly%2C+RI'
            %li=link_to 'Woonsocket jobs',  :controller => 'job',  :action => 'location_result', location: 'woonsocket%2C+RI'
      .clear-both
  =render(partial: 'job/partials/footer')