#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Aiken jobs',  :controller => 'job',  :action => 'location_result', location: 'aiken%2C+SC'
            %li=link_to 'Anderson jobs',  :controller => 'job',  :action => 'location_result', location: 'anderson%2C+SC'
            %li=link_to 'Charleston jobs',  :controller => 'job',  :action => 'location_result', location: 'charleston%2C+SC'
            %li=link_to 'Clemson jobs',  :controller => 'job',  :action => 'location_result', location: 'clemson%2C+SC'
            %li=link_to 'Columbia jobs',  :controller => 'job',  :action => 'location_result', location: 'columbia%2C+SC'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Florence jobs',  :controller => 'job',  :action => 'location_result', location: 'florence%2C+SC'
            %li=link_to 'Fort Mill jobs',  :controller => 'job',  :action => 'location_result', location: 'fort+mill%2C+SC'
            %li=link_to 'Greenville jobs',  :controller => 'job',  :action => 'location_result', location: 'greenville%2C+SC'
            %li=link_to 'Greer jobs',  :controller => 'job',  :action => 'location_result', location: 'greer'
            %li=link_to 'Hilton Head Island jobs',  :controller => 'job',  :action => 'location_result', location: 'hilton+head+island%2C+SC'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Lexington jobs',  :controller => 'job',  :action => 'location_result', location: 'lexington%2C+SC'
            %li=link_to 'Mount Pleasant jobs',  :controller => 'job',  :action => 'location_result', location: 'mount+pleasant%2C+SC'
            %li=link_to 'Myrtle Beach jobs',  :controller => 'job',  :action => 'location_result', location: 'myrtle+beach%2C+SC'
            %li=link_to 'North Charleston jobs',  :controller => 'job',  :action => 'location_result', location: 'north+charleston%2C+SC'
            %li=link_to 'Rock Hill jobs',  :controller => 'job',  :action => 'location_result', location: 'rock+hill%2C+SC'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Spartanburg jobs',  :controller => 'job',  :action => 'location_result', location: 'spartanburg%2C+SC'
            %li=link_to 'Summerville jobs',  :controller => 'job',  :action => 'location_result', location: 'summerville%2C+SC'
            %li=link_to 'Sumter jobs',  :controller => 'job',  :action => 'location_result', location: 'sumter%2C+SC'
      .clear-both
  =render(partial: 'job/partials/footer')