#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Aberdeen jobs',  :controller => 'job',  :action => 'location_result', location: 'aberdeen%2C+SD'
            %li=link_to 'Belle Fourche jobs',  :controller => 'job',  :action => 'location_result', location: 'belle+fourche%2C+SD'
            %li=link_to 'Brandon jobs',  :controller => 'job',  :action => 'location_result', location: 'brandon%2C+SD'
            %li=link_to 'Brookings jobs',  :controller => 'job',  :action => 'location_result', location: 'brookings%2C+SD'
            %li=link_to 'Custer jobs',  :controller => 'job',  :action => 'location_result', location: 'custer%2C+SD'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Hot Springs jobs',  :controller => 'job',  :action => 'location_result', location: 'hot+springs%2C+SD'
            %li=link_to 'Huron jobs',  :controller => 'job',  :action => 'location_result', location: 'huron%2C+SD'
            %li=link_to 'Madison jobs',  :controller => 'job',  :action => 'location_result', location: 'madison%2C+SD'
            %li=link_to 'Mitchell jobs',  :controller => 'job',  :action => 'location_result', location: 'mitchell%2C+SD'
            %li=link_to 'North Sioux City jobs',  :controller => 'job',  :action => 'location_result', location: 'north+sioux+city%2C+SD'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Pierre jobs',  :controller => 'job',  :action => 'location_result', location: 'pierre%2C+SD'
            %li=link_to 'Rapid City jobs',  :controller => 'job',  :action => 'location_result', location: 'rapid+city%2C+SD'
            %li=link_to 'Sioux Falls jobs',  :controller => 'job',  :action => 'location_result', location: 'sioux+falls%2C+SD'
            %li=link_to 'Spearfish jobs',  :controller => 'job',  :action => 'location_result', location: 'spearfish%2C+SD'
            %li=link_to 'Sturgis jobs',  :controller => 'job',  :action => 'location_result', location: 'sturgis%2C+SD'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Vermillion jobs',  :controller => 'job',  :action => 'location_result', location: 'vermillion%2C+SD'
            %li=link_to 'Watertown jobs',  :controller => 'job',  :action => 'location_result', location: 'watertown%2C+SD'
            %li=link_to 'Yankton jobs',  :controller => 'job',  :action => 'location_result', location: 'yankton%2C+SD'
            %li=link_to 'Yankton jobs',  :controller => 'job',  :action => 'location_result', location: 'yankton%2C+SD'
      .clear-both
  =render(partial: 'job/partials/footer')