#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Brentwood jobs',  :controller => 'job',  :action => 'location_result', location: 'brentwood%2C+TN'
            %li=link_to 'Chattanooga jobs',  :controller => 'job',  :action => 'location_result', location: 'chattanooga%2C+TN'
            %li=link_to 'Clarksville jobs',  :controller => 'job',  :action => 'location_result', location: 'clarksville%2C+TN'
            %li=link_to 'Cleveland jobs',  :controller => 'job',  :action => 'location_result', location: 'cleveland%2C+TN'
            %li=link_to 'Collierville jobs',  :controller => 'job',  :action => 'location_result', location: 'collierville%2C+TN'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Cookeville jobs',  :controller => 'job',  :action => 'location_result', location: 'cookeville%2C+TN'
            %li=link_to 'Franklin jobs',  :controller => 'job',  :action => 'location_result', location: 'franklin%2C+TN'
            %li=link_to 'Hendersonville jobs',  :controller => 'job',  :action => 'location_result', location: 'hendersonville%2C+TN'
            %li=link_to 'Jackson jobs',  :controller => 'job',  :action => 'location_result', location: 'jackson%2C+TN'
            %li=link_to 'Johnson City jobs',  :controller => 'job',  :action => 'location_result', location: 'johnson+city%2C+TN'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Kingsport jobs',  :controller => 'job',  :action => 'location_result', location: 'kingsport%2C+TN'
            %li=link_to 'Knoxville jobs',  :controller => 'job',  :action => 'location_result', location: 'knoxville%2C+TN'
            %li=link_to 'Lebanon jobs',  :controller => 'job',  :action => 'location_result', location: 'lebanon%2C+TN'
            %li=link_to 'Memphis jobs',  :controller => 'job',  :action => 'location_result', location: 'memphis%2C+TN'
            %li=link_to 'Morristown jobs',  :controller => 'job',  :action => 'location_result', location: 'morristown%2C+TN'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Murfreesboro jobs',  :controller => 'job',  :action => 'location_result', location: 'murfreesboro%2C+TN'
            %li=link_to 'Nashville jobs',  :controller => 'job',  :action => 'location_result', location: 'nashville%2C+TN'
            %li=link_to 'Smyrna jobs',  :controller => 'job',  :action => 'location_result', location: 'smyrna%2C+TN'
      .clear-both
  =render(partial: 'job/partials/footer')