#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Amarillo jobs',  :controller => 'job',  :action => 'location_result', location: 'amarillo%2C+TX'
            %li=link_to 'Arlington jobs',  :controller => 'job',  :action => 'location_result', location: 'arlington%2C+TX'
            %li=link_to 'Austin jobs',  :controller => 'job',  :action => 'location_result', location: 'austin%2C+TX'
            %li=link_to 'Corpus Christi jobs',  :controller => 'job',  :action => 'location_result', location: 'corpus+christi%2C+TX'
            %li=link_to 'Dallas jobs',  :controller => 'job',  :action => 'location_result', location: 'dallas%2C+TX'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'El Paso jobs',  :controller => 'job',  :action => 'location_result', location: 'el+paso%2C+TX'
            %li=link_to 'Fort Worth jobs',  :controller => 'job',  :action => 'location_result', location: 'fort+worth%2C+TX'
            %li=link_to 'Frisco jobs',  :controller => 'job',  :action => 'location_result', location: 'frisco%2C+TX'
            %li=link_to 'Houston jobs',  :controller => 'job',  :action => 'location_result', location: 'houston%2C+TX'
            %li=link_to 'Irving jobs',  :controller => 'job',  :action => 'location_result', location: 'irving%2C+TX'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Lubbock jobs',  :controller => 'job',  :action => 'location_result', location: 'lubbock%2C+TX'
            %li=link_to 'Midland jobs',  :controller => 'job',  :action => 'location_result', location: 'midland%2C+TX'
            %li=link_to 'Odessa jobs',  :controller => 'job',  :action => 'location_result', location: 'odessa%2C+TX'
            %li=link_to 'Plano jobs',  :controller => 'job',  :action => 'location_result', location: 'plano%2C+TX'
            %li=link_to 'Richardson jobs',  :controller => 'job',  :action => 'location_result', location: 'richardson%2C+TX'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'San Antonio jobs',  :controller => 'job',  :action => 'location_result', location: 'san+antonio%2C+TX'
            %li=link_to 'Spring jobs',  :controller => 'job',  :action => 'location_result', location: 'spring%2C+TX'
            %li=link_to 'Waco jobs',  :controller => 'job',  :action => 'location_result', location: 'waco%2C+TX'
      .clear-both
  =render(partial: 'job/partials/footer')