#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Cedar City jobs',  :controller => 'job',  :action => 'location_result', location: 'cedar+city%2C+UT'
            %li=link_to 'Draper jobs',  :controller => 'job',  :action => 'location_result', location: 'draper%2C+UT'
            %li=link_to 'Layton jobs',  :controller => 'job',  :action => 'location_result', location: 'layton%2C+UT'
            %li=link_to 'Lehi jobs',  :controller => 'job',  :action => 'location_result', location: 'lehi%2C+UT'
            %li=link_to 'Logan jobs',  :controller => 'job',  :action => 'location_result', location: 'logan%2C+UT'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Murray jobs',  :controller => 'job',  :action => 'location_result', location: 'murray%2C+UT'
            %li=link_to 'Ogden jobs',  :controller => 'job',  :action => 'location_result', location: 'ogden%2C+UT'
            %li=link_to 'Orem jobs',  :controller => 'job',  :action => 'location_result', location: 'orem%2C+UT'
            %li=link_to 'Park City jobs',  :controller => 'job',  :action => 'location_result', location: 'park+city%2C+UT'
            %li=link_to 'Provo jobs',  :controller => 'job',  :action => 'location_result', location: 'provo%2C+UT'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Riverton jobs',  :controller => 'job',  :action => 'location_result', location: 'riverton%2C+UT'
            %li=link_to 'Saint George jobs',  :controller => 'job',  :action => 'location_result', location: 'saint+george%2C+UT'
            %li=link_to 'Salt Lake City jobs',  :controller => 'job',  :action => 'location_result', location: 'salt+lake+city%2C+UT'
            %li=link_to 'Sandy jobs',  :controller => 'job',  :action => 'location_result', location: 'sandy'
            %li=link_to 'South Jordan jobs',  :controller => 'job',  :action => 'location_result', location: 'south+jordan%2C+UT'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Washington jobs',  :controller => 'job',  :action => 'location_result', location: 'washington%2C+UT'
            %li=link_to 'West Jordan jobs',  :controller => 'job',  :action => 'location_result', location: 'west+jordan%2C+UT'
            %li=link_to 'West Valley City jobs',  :controller => 'job',  :action => 'location_result', location: 'west+valley+city%2C+UT'
      .clear-both
  =render(partial: 'job/partials/footer')