#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Barre jobs',  :controller => 'job',  :action => 'location_result', location: 'barre%2C+VT'
            %li=link_to 'Bennington jobs',  :controller => 'job',  :action => 'location_result', location: 'bennington%2C+VT'
            %li=link_to 'Brattleboro jobs',  :controller => 'job',  :action => 'location_result', location: 'brattleboro%2C+VT'
            %li=link_to 'Burlington jobs',  :controller => 'job',  :action => 'location_result', location: 'burlington%2C+VT'
            %li=link_to 'Colchester jobs',  :controller => 'job',  :action => 'location_result', location: 'colchester%2C+VT'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Essex Junction jobs',  :controller => 'job',  :action => 'location_result', location: 'essex+junction%2C+VT'
            %li=link_to 'Middlebury jobs',  :controller => 'job',  :action => 'location_result', location: 'middlebury%2C+VT'
            %li=link_to 'Montpelier jobs',  :controller => 'job',  :action => 'location_result', location: 'montpelier%2C+VT'
            %li=link_to 'Morrisville jobs',  :controller => 'job',  :action => 'location_result', location: 'morrisville%2C+VT'
            %li=link_to 'Newport jobs',  :controller => 'job',  :action => 'location_result', location: 'newport%2C+VT'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Northfield jobs',  :controller => 'job',  :action => 'location_result', location: 'northfield%2C+VT'
            %li=link_to 'Rutland jobs',  :controller => 'job',  :action => 'location_result', location: 'rutland%2C+VT'
            %li=link_to 'Saint Albans jobs',  :controller => 'job',  :action => 'location_result', location: 'saint+albans%2C+VT'
            %li=link_to 'South Burlington jobs',  :controller => 'job',  :action => 'location_result', location: 'south+burlington%2C+VT'
            %li=link_to 'Springfield jobs',  :controller => 'job',  :action => 'location_result', location: 'springfield%2C+VT'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Vergennes jobs',  :controller => 'job',  :action => 'location_result', location: 'vergennes%2C+VT'
            %li=link_to 'White River Junction jobs',  :controller => 'job',  :action => 'location_result', location: 'white+river+junction%2C+VT'
            %li=link_to 'Williston jobs',  :controller => 'job',  :action => 'location_result', location: 'williston%2C+VT'
      .clear-both
  =render(partial: 'job/partials/footer')