#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Auburn jobs',  :controller => 'job',  :action => 'location_result', location: 'auburn%2C+WA'
            %li=link_to 'Bellevue jobs',  :controller => 'job',  :action => 'location_result', location: 'bellevue%2C+WA'
            %li=link_to 'Bellingham jobs',  :controller => 'job',  :action => 'location_result', location: 'bellingham%2C+WA'
            %li=link_to 'Bothell jobs',  :controller => 'job',  :action => 'location_result', location: 'bothell%2C+WA'
            %li=link_to 'Everett jobs',  :controller => 'job',  :action => 'location_result', location: 'everett%2C+WA'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Federal Way jobs',  :controller => 'job',  :action => 'location_result', location: 'federal+way%2C+WA'
            %li=link_to 'Kent jobs',  :controller => 'job',  :action => 'location_result', location: 'kent%2C+WA'
            %li=link_to 'Kirkland jobs',  :controller => 'job',  :action => 'location_result', location: 'kirkland%2C+WA'
            %li=link_to 'Lynnwood jobs',  :controller => 'job',  :action => 'location_result', location: 'lynnwood%2C+WA'
            %li=link_to 'Olympia jobs',  :controller => 'job',  :action => 'location_result', location: 'olympia%2C+WA'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Puyallup jobs',  :controller => 'job',  :action => 'location_result', location: 'puyallup%2C+WA'
            %li=link_to 'Redmond jobs',  :controller => 'job',  :action => 'location_result', location: 'redmond%2C+WA'
            %li=link_to 'Renton jobs',  :controller => 'job',  :action => 'location_result', location: 'renton%2C+WA'
            %li=link_to 'Seattle jobs',  :controller => 'job',  :action => 'location_result', location: 'seattle%2C+WA'
            %li=link_to 'Spokane jobs',  :controller => 'job',  :action => 'location_result', location: 'spokane%2C+WA'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Tacoma jobs',  :controller => 'job',  :action => 'location_result', location: 'tacoma%2C+WA'
            %li=link_to 'Vancouver jobs',  :controller => 'job',  :action => 'location_result', location: 'vancouver%2C+WA'
            %li=link_to 'Yakima jobs',  :controller => 'job',  :action => 'location_result', location: 'yakima%2C+WA'
      .clear-both
  =render(partial: 'job/partials/footer')