#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Barboursville jobs',  :controller => 'job',  :action => 'location_result', location: 'barboursville%2C+WV'
            %li=link_to 'Beckley jobs',  :controller => 'job',  :action => 'location_result', location: 'beckley%2C+WV'
            %li=link_to 'Bluefield jobs',  :controller => 'job',  :action => 'location_result', location: 'bluefield%2C+WV'
            %li=link_to 'Bridgeport jobs',  :controller => 'job',  :action => 'location_result', location: 'bridgeport%2C+WV'
            %li=link_to 'Buckhannon jobs',  :controller => 'job',  :action => 'location_result', location: 'buckhannon%2C+WV'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Charles Town jobs',  :controller => 'job',  :action => 'location_result', location: 'charles+town%2C+WV'
            %li=link_to 'Charleston jobs',  :controller => 'job',  :action => 'location_result', location: 'charleston%2C+WV'
            %li=link_to 'Clarksburg jobs',  :controller => 'job',  :action => 'location_result', location: 'clarksburg%2C+WV'
            %li=link_to 'Fairmont jobs',  :controller => 'job',  :action => 'location_result', location: 'fairmont%2C+WV'
            %li=link_to 'Huntington jobs',  :controller => 'job',  :action => 'location_result', location: 'huntington%2C+WV'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Hurricane jobs',  :controller => 'job',  :action => 'location_result', location: 'hurricane%2C+WV'
            %li=link_to 'Martinsburg jobs',  :controller => 'job',  :action => 'location_result', location: 'martinsburg%2C+WV'
            %li=link_to 'Morgantown jobs',  :controller => 'job',  :action => 'location_result', location: 'morgantown%2C+WV'
            %li=link_to 'Parkersburg jobs',  :controller => 'job',  :action => 'location_result', location: 'parkersburg%2C+WV'
            %li=link_to 'Vienna jobs',  :controller => 'job',  :action => 'location_result', location: 'vienna%2C+WV'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Weirton jobs',  :controller => 'job',  :action => 'location_result', location: 'weirton%2C+WV'
            %li=link_to 'Wheeling jobs',  :controller => 'job',  :action => 'location_result', location: 'wheeling%2C+WV'
            %li=link_to 'White Sulphur Springs jobs',  :controller => 'job',  :action => 'location_result', location: 'white+sulphur+springs%2C+WV'
      .clear-both
  =render(partial: 'job/partials/footer')