#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Appleton jobs',  :controller => 'job',  :action => 'location_result', location: 'appleton%2C+WI'
            %li=link_to 'Brookfield jobs',  :controller => 'job',  :action => 'location_result', location: 'brookfield%2C+WI'
            %li=link_to 'Eau Claire jobs',  :controller => 'job',  :action => 'location_result', location: 'eau+claire%2C+WI'
            %li=link_to 'Green Bay jobs',  :controller => 'job',  :action => 'location_result', location: 'green+bay%2C+WI'
            %li=link_to 'Janesville jobs',  :controller => 'job',  :action => 'location_result', location: 'janesville%2C+WI'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Kenosha jobs',  :controller => 'job',  :action => 'location_result', location: 'kenosha%2C+WI'
            %li=link_to 'La Crosse jobs',  :controller => 'job',  :action => 'location_result', location: 'la+crosse%2C+WI'
            %li=link_to 'Madison jobs',  :controller => 'job',  :action => 'location_result', location: 'madison%2C+WI'
            %li=link_to 'Menomonee Falls jobs',  :controller => 'job',  :action => 'location_result', location: 'menomonee+falls%2C+WI'
            %li=link_to 'Middleton jobs',  :controller => 'job',  :action => 'location_result', location: 'middleton%2C+WI'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Milwaukee jobs',  :controller => 'job',  :action => 'location_result', location: 'milwaukee%2C+WI'
            %li=link_to 'Neenah jobs',  :controller => 'job',  :action => 'location_result', location: 'neenah%2C+WI'
            %li=link_to 'Oshkosh jobs',  :controller => 'job',  :action => 'location_result', location: 'oshkosh%2C+WI'
            %li=link_to 'Racine jobs',  :controller => 'job',  :action => 'location_result', location: 'racine%2C+WI'
            %li=link_to 'Sheboygan jobs',  :controller => 'job',  :action => 'location_result', location: 'sheboygan%2C+WI'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Stevens Point jobs',  :controller => 'job',  :action => 'location_result', location: 'stevens+point%2C+WI'
            %li=link_to 'Waukesha jobs',  :controller => 'job',  :action => 'location_result', location: 'waukesha%2C+WI'
            %li=link_to 'Wausau jobs',  :controller => 'job',  :action => 'location_result', location: 'wausau%2C+WI'
      .clear-both
  =render(partial: 'job/partials/footer')