#fb-root
.wrapper
  =render(partial: 'job/partials/header')
  .content.bg-white
    .width960.row.job-categories
      .row.mt-75.width960
        .large-3.medium-3.small-3.columns
          %h3.blue Job Categories
        .large-9.medium-9.small-9.columns.alphabet
          %h4.left Job titles:
          %a{href: "#"} A
          %a{href: "#"} B
          %a{href: "#"} C
          %a{href: "#"} D
          %a{href: "#"} E
          %a{href: "#"} F
          %a{href: "#"} G
          %a{href: "#"} H
          %a{href: "#"} I
          %a{href: "#"} J
          %a{href: "#"} K
          %a{href: "#"} L
          %a{href: "#"} M
          %a{href: "#"} N
          %a{href: "#"} O
          %a{href: "#"} P
          %a{href: "#"} Q
          %a{href: "#"} R
          %a{href: "#"} S
          %a{href: "#"} T
          %a{href: "#"} U
          %a{href: "#"} V
          %a{href: "#"} W
          %a{href: "#"} X
          %a{href: "#"} Y
          %a{href: "#"} Z
        .clear-both
      .large-12.medium-12.small-12.columns.jobs-category
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Buffalo jobs',  :controller => 'job',  :action => 'location_result', location: 'buffalo%2C+WY'
            %li=link_to 'Casper jobs',  :controller => 'job',  :action => 'location_result', location: 'casper%2C+WY'
            %li=link_to 'Cheyenne jobs',  :controller => 'job',  :action => 'location_result', location: 'cheyenne%2C+WY'
            %li=link_to 'Cody jobs',  :controller => 'job',  :action => 'location_result', location: 'cody%2C+WY'
            %li=link_to 'Douglas jobs',  :controller => 'job',  :action => 'location_result', location: 'douglas%2C+WY'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Evanston jobs',  :controller => 'job',  :action => 'location_result', location: 'evanston%2C+WY'
            %li=link_to 'Gillette jobs',  :controller => 'job',  :action => 'location_result', location: 'gillette%2C+WY'
            %li=link_to 'Green River jobs',  :controller => 'job',  :action => 'location_result', location: 'green+river%2C+WY'
            %li=link_to 'Jackson jobs',  :controller => 'job',  :action => 'location_result', location: 'jackson%2C+WY'
            %li=link_to 'Lander jobs',  :controller => 'job',  :action => 'location_result', location: 'lander%2C+WY'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Laramie jobs',  :controller => 'job',  :action => 'location_result', location: 'laramie%2C+WY'
            %li=link_to 'Moran jobs',  :controller => 'job',  :action => 'location_result', location: 'moran%2C+WY'
            %li=link_to 'Rawlins jobs',  :controller => 'job',  :action => 'location_result', location: 'rawlins%2C+WY'
            %li=link_to 'Riverton jobs',  :controller => 'job',  :action => 'location_result', location: 'riverton%2C+WY'
            %li=link_to 'Rock Springs jobs',  :controller => 'job',  :action => 'location_result', location: 'rock+springs%2C+WY'
        .large-3.medium-3.small-3.columns
          %ul
            %li=link_to 'Sheridan jobs',  :controller => 'job',  :action => 'location_result', location: 'sheridan%2C+WY'
            %li=link_to 'Torrington jobs',  :controller => 'job',  :action => 'location_result', location: 'torrington%2C+WY'
            %li=link_to 'Worland jobs',  :controller => 'job',  :action => 'location_result', location: 'worland%2C+WY'
      .clear-both
  =render(partial: 'job/partials/footer')