.landing
  .wrapper.white-bg.notkelson
    .row

      .large-6.small-8.columns.large-centered.small-centered.am-logo
        = image_tag("am-logo.png")
    .row.landing-text
      .large-12.columns
        = @Custom_page.text.html_safe
