#fb-root
.wrapper
  = render(partial:'job/partials/header')
  .content
    .width960.row.padding-0.bg-white
      .large-12.medium-12.small-12.column.advanced-search
        = form_tag advanced_search_path, :method => 'get', :id => "page" do


          .advanced-search_inner
            %h3.blue Job Categories
            %section
              .large-11.medium-11.small-11.column
                .search-block
                  = text_field_tag :with_all_words, params[:with_all_words], class: 'page-field', placeholder: "With at least one of the words"
                  = text_field_tag :extract_phrase, params[:extract_phrase], class: 'page-field', placeholder: "With extract phrase"
                  %input{type: "text", placeholder: "Within job title"}/
                  = text_field_tag :least_one_of_words, params[:least_one_of_words], class: 'page-field', placeholder: "With at least one of the words"
                  = text_field_tag :without_words, params[:without_words], class: 'page-field', placeholder: "Without the words"
                  = text_field_tag :extract_phrase_company, params[:extract_phrase_company], class: 'page-field', placeholder: "Within company name"

                  .clear-both
              .clear-both
          .advanced-search_inner
            %h3.blue Location
            %section
              .large-8.medium-8.small-8.column
                .search-block
                  = text_field_tag :state_city, params[:state_city], class: 'page-field', placeholder: "City"
                  = text_field_tag :state_zip, params[:state_zip], class: 'page-field', placeholder: "ZIP / postal code"
                  = select_tag :state, options_for_select([['Select State', ''], ['Alabama', 'AL'], ['Alaska', 'AK'], ['Arizona', 'AZ'], ['Arkansas', 'AR'], ['California', 'CA'], ['Colorado', 'CO'], ['Connecticut', 'CT'], ['District of Columbia', 'DC'], ['Delaware', 'DE'], ['Florida', 'FL'], ['Georgia', 'GA'], ['Hawaii', 'HI'],['Idaho', 'ID'], ['Illinois', 'IL'], ['Indiana', 'IN'], ['Iowa', 'IA'], ['Kansas', 'KS'], ['Kentucky', 'KY'], ['Lousiana', 'LA'], ['Maine', 'ME'], ['Maryland', 'MD'], ['Massachusetts', 'MA'], ['Michigan', 'MI'], ['Minnesota', 'MN'], ['Mississippi', 'MS'], ['Missouri', 'MO'], ['Montana', 'MT'], ['Nebraska', 'NE'], ['Nevada', 'NV'], ['New Hampshire', 'NH'], ['New Jersey', 'NJ'], ['New Mexico', 'NM'], ['New York', 'NY'], ['North Carolina', 'NC'], ['North Dakota', 'ND'], ['Ohio', 'OH'], ['Oklahoma', 'OK'], ['Oregon', 'OR'], ['Pennsylvania', 'PA'], ['Rhode Island', 'RI'], ['South Carolina', 'SC'], ['South Dakota', 'SD'], ['Tennessee', 'TN'], ['Texas', 'TX'], ['Utah', 'UT'], ['Vermont', 'VT'], ['Virginia', 'VA'], ['Washington', 'WA'], ['West Virginia', 'WV'], ['Wisconsin', 'WI'], ['Wyoming', 'WY']], params[:state])
                  = select_tag :miles, options_for_select([['Within Miles', ''], ['5 miles', '5'], ['10 miles', '10'], ['15 miles', '15'], ['25 miles', '25'], ['50 miles', '50'], ['100 miles', '100']], params[:miles])
                  .clear-both
              .clear-both
          .advanced-search_inner
            %h3.blue Preferences
            %section
              .large-8.medium-8.small-8.column
                .search-block
                  = select_tag :result_per_page, options_for_select([['10 results', '10'], ['15 results', '15'], ['25 results', '25'], ['50 results', '50']], params[:result_per_page])
                  = select_tag :sort_by_adv, options_for_select([['Relevance descending', 'rd'], ['Relevance ascending', 'ra'], ['Last seen date descending', 'dd'], ['Last seen date ascending', 'da'], ['Title descending', 'td'], ['Title ascending', 'ta'], ['Company descending', 'cd'], ['Company ascending', 'ca'], ['Location descending', 'ld'], ['Location ascending', 'la']], params[:sort_by_adv])
                  .clear-both
              .clear-both
          .advanced-search_inner
            .input-centered
              .search-block
                = submit_tag "SEARCH JOBS", :name => nil, id: 'page'
                %button.golden_button{type: "submit"} CLEAR
                .clear-both
  =render(partial: 'job/partials/footer')