:javascript
  if(window.location.href.substr(-2) !== "?r") {
    window.location = window.location.href + "?r";
  }

.wrapper
  = render(partial:'job/partials/header_with_out_fixed_search')
  .contact-form_block
    .row.width960.mt-150
      .large-8.medium-8.small-8.columns
        %h2 Contact Us Today
      .large-4.medium-4.small-4.columns.socials.right
        =link_to  image_tag('twitter.png'), 'http://twitter.com'
        =link_to  image_tag('facebook.png'), root_path
        =link_to  image_tag('linkedin.png'), root_path
        =link_to  image_tag('google.png'), root_path
        .fb-like{"data-action" => "like", "data-href" => "http://jobgoal.net", "data-layout" => "button_count", "data-share" => "false", "data-show-faces" => "true"}
      %hr/

      = form_tag contact_path, :method => 'get', :id => "contact" do

        .large-6.medium-4.small-6.columns.contact-form
          = text_field_tag :c_name, params[:c_name], class: 'page-field', placeholder: "Name",required: true, value: ''
          = email_field_tag :c_email, params[:c_email], class: 'page-field', placeholder: "Email", required: true, value: ''
          = text_field_tag :c_subject, params[:c_subject], class: 'page-field', placeholder: "Subject", required: true, value: ''
        .large-6.medium-4.small-6.columns.contact-form.right
          = text_area_tag :c_message, params[:c_message], class: 'page-field edot', placeholder: "Message"
          = recaptcha_tags
          = submit_tag 'SEND', :name => nil, id: 'contact'
  =render(partial: 'job/partials/footer')
