#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_en/all.js#xfbml=1&appId=619667714730451";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
.wrapper
  .full-width_bg1
    .width960.row
      .large-4.medium-4.small-4.columns.logo
        =link_to  image_tag('logo.png'), root_path
      .large-2.medium-2.small-2.columns.right
        = link_to 'Post a Job', post_job_path, class: 'post-job right'
      .clear-both
      .large-9.medium-9.small-9.columns.centered
        %h1
          Over
          %span 6 Million Jobs
        %h2 Start Your Job Search Now
        = form_tag landing_path, :method => 'get', :id => "search", :class=>'search-block centered ' do
          = text_field_tag :search, params[:search], class: 'search-field', placeholder: "Job Title"
          = text_field_tag :location, params[:location], class: 'search-field', placeholder: "Location (ZIP, city etc)"
          = submit_tag "Search", :name => nil, id: 'search'
          .clear-both
          = link_to 'Advanced Search', advanced_search_path, class:'advanced-search right'
  .width960.row
    .large-12.medium-12.small-12.columns
      %p JobGoal.net provides the most up to date job listings available in your area. There are part-time and full-time positions you can apply for right now. Simply use our job search engine to access thousands job listings. Whether you're currently unemployed or looking for a change, we can help you find and reach your job goal!
      %hr
    .large-12.medium-12.small-12.columns.jobs-category
      %h3 Find Jobs by Category
      .large-3.medium-3.small-3.columns
        %ul

          %li
            =link_to 'Accounting',  :action => 'search_result', search: 'accounting'
            =link_to '/ Finance',  :action => 'search_result', search: 'finance'
          %li
            =link_to 'Internships',  :action => 'search_result', search: 'internships'
            =link_to '/ Clerical',  :action => 'search_result', search: 'clerical'
          %li
            =link_to 'Architecture',  :action => 'search_result', search: 'architecture'
            =link_to '/ Engineering',  :action => 'search_result', search: 'engineering'
          %li
            =link_to 'Art',  :action => 'search_result', search: 'art'
            =link_to '/ Graphic Design',  :action => 'search_result', search: 'graphic+design'
          %li
            =link_to 'Media',  :action => 'search_result', search: 'media'
            =link_to '/ Biotech',  :action => 'search_result', search: 'biotech'
          %li
            =link_to 'Science',  :action => 'search_result', search: 'science'
            =link_to '/ Computer',  :action => 'search_result', search: 'computer'
          %li
            =link_to 'Technology',  :action => 'search_result', search: 'technology'
            =link_to '/ Work From Home',  :action => 'search_result', search: 'work+from+home'
      .large-3.medium-3.small-3.columns
        %ul
          %li
            =link_to 'Customer Service',  :action => 'search_result', search: 'customer+service'
            =link_to '/ Executive',  :action => 'search_result', search: 'executive'
          
          %li
            =link_to 'Management',  :action => 'search_result', search: 'management'
            =link_to '/ Health Care',  :action => 'search_result', search: 'health+care'
          
          %li
            =link_to 'Nursing',  :action => 'search_result', search: 'nursing'
            =link_to '/ Human Resources',  :action => 'search_result', search: 'human+resources'
          
          %li
            =link_to 'Legal',  :action => 'search_result', search: 'legal'
            =link_to '/ Paralegal',  :action => 'search_result', search: 'paralegal'
          
          %li
            =link_to 'Marketing',  :action => 'search_result', search: 'marketing'
            =link_to '/ PR',  :action => 'search_result', search: 'pr'
          %li
            =link_to 'Advertising',  :action => 'search_result', search: 'advertising'
      .large-3.medium-3.small-3.columns
        %ul
          %li
            =link_to 'Nonprofit Jobs',  :action => 'search_result', search: 'nonprofit+jobs'
            =link_to '/ Volunteer',  :action => 'search_result', search: 'volunteer'
          
          %li
            =link_to 'Restaurant',  :action => 'search_result', search: 'restaurant'
            =link_to '/ Hotel',  :action => 'search_result', search: 'hotel'
          
          %li
            =link_to 'Retail',  :action => 'search_result', search: 'retail'
            =link_to '/ Sales',  :action => 'search_result', search: 'sales'
          
          %li
            =link_to 'Business Development',  :action => 'search_result', search: 'business+development'
            =link_to '/ Software',  :action => 'search_result', search: 'software'
          
          %li
            =link_to 'QA',  :action => 'search_result', search: 'qa'
            =link_to '/ Teaching',  :action => 'search_result', search: 'teaching'
      .large-3.medium-3.small-3.columns
        %ul
          %li
            =link_to 'Truck Driving',  :action => 'search_result', search: 'truck+driving'
            =link_to '/ Transportation',  :action => 'search_result', search: 'transportation'
          
          %li
            =link_to 'Logistics',  :action => 'search_result', search: 'logistics'
            =link_to '/ Writing',  :action => 'search_result', search: 'writing'
          
          %li
            =link_to 'Freelance Jobs',  :action => 'search_result', search: 'freelance+jobs'
            =link_to '/ Part-time Jobs',  :action => 'search_result', search: 'part-time+jobs'
          
          %li
            =link_to 'Temp Jobs',  :action => 'search_result', search: 'temp+jobs'
            =link_to '/ Summer Jobs',  :action => 'search_result', search: 'summer+jobs'
          
          %li
            =link_to 'Seasonal Work',  :action => 'search_result', search: 'seasonal+work'
            =link_to '/ Entry Level Positions',  :action => 'search_result', search: 'entry+level+positions'
      .clear-both
      =link_to 'Browse Job Listings >>', job_listing_path, class: 'browse-job-listings blue'
  =render(partial: 'job/partials/footer')