.wrapper
  .full-width_bg3
    .width960.row
      .large-4.medium-4.small-4.columns.logo
        =link_to  image_tag('logo.png'), root_path
      .clear-both
      .large-9.medium-9.small-9.columns.centered
        %h2 Search Jobs
        = form_tag landing_path, :method => 'get', :id => "search", :class=>'search-block centered ' do
          = text_field_tag :search, params[:search], class: 'search-field', placeholder: "Job Title", required: "true"
          = text_field_tag :location, params[:location], class: 'search-field', placeholder: "Location (ZIP, city etc)"
          = submit_tag "Search", :name => nil, id: 'search'
          .clear-both
  =render(partial: 'job/partials/footer')