.wrapper
  =render(partial: 'job/partials/header_with_out_fixed_search')
  .w100p
    %iframe{:src=>"http://jobgoal.jobamatic.com/a/jbb/post-job", :frameborder=>"0", :width=>'900px', :height=>'1300px'}
  =render(partial: 'job/partials/footer')