#fb-root
.wrapper
  = render(partial:'job/partials/header')

  .content
    .width960.row
      =render(partial: 'job/partials/sorting')
      .large-7.medium-7.small-7.column.content_inner
        %p.jobs.grey-light
          -if @current_page_count.present? && @total_result.present?
            #{@current_page_count.to_s.gsub!("<si>", "").gsub!("</si>", "").to_i + 10} -  of #{@total_result.to_s.gsub!("<tr>", "").gsub!("</tr>", "")}
          - else
            =render(text:'No result found')
          -if session[:search].to_s.match(/\+/)
            =session[:search] = session[:search].to_s.gsub!("+", " ")
          -else
            = session[:search].to_s
          jobs near
          -if session[:location].to_s.match(/\+/)
            =session[:location] = session[:location].to_s.gsub!("+", " ")
          -else
            = session[:location].to_s
        =render(partial: 'job/partials/advertising')
        .content_inner-block-blue
          %script{async: "", src: "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
          / 336x280, created 3/11/10
          %ins.adsbygoogle{"data-ad-client" => "ca-pub-7077183407169853", "data-ad-slot" => "2405546949", style: "display:inline-block;width:336px;height:280px"}
          :javascript
            (adsbygoogle = window.adsbygoogle || []).push({});
        = @doc.css("rs r").each do |item|
          .item
            = title = item.css("jt").to_s.gsub!("<jt>", "").gsub!("</jt>", "")
            = company =  item.css("cn").to_s.gsub!('<cn url="">', "").gsub!("</cn>", "")
            = date =  item.css("dp").to_s.gsub!('<dp>', "").gsub!("</dp>", "").gsub!("T", " ").gsub!("Z", " ")
            = text =  item.css("e").to_s.gsub!('<e>', "").gsub!("</e>", "")
            = location =  item.css("loc").to_s
            = link = item.css('src').to_s.gsub!('<src url="','').gsub!('">','').gsub!('</src>','')
          .content_inner-block3
            %a{href: "#{item.css('src').to_s.gsub!('<src url="','').gsub!('">','').gsub!('</src>','')}"}
              %h3= simple_format(title, {}, sanitize:false).gsub!('<p>','').gsub!('</p>','')
            .location
              %p.grey-light= simple_format(company, {}, sanitize:false).gsub!('<p>','').gsub!('</p>','') + ' - '+ simple_format(location, {}, sanitize:true).gsub!('<p>', "").gsub!("</p>", "")
            %p.text= simple_format(text, {}, sanitize:false)
            .time-ago
              %p.grey-light= simple_format(date, {}, sanitize:false)
        %div{style: "text-align: right;"}
          %span{style: "font-size:10px; position:relative; top:-5px; font-family:Arial,sans-serif;color: rgb(51, 51, 51);"}
            %a{href: "http://www.simplyhired.com", rel: "nofollow", style: "color:#333;text-decoration:none"} Jobs
            by
          %a{href: "http://www.simplyhired.com", style: "text-decoration:none"}
            %img{alt: "Simply Hired", src: "http://www.jobamatic.com/c/jbb/images/simplyhired.png"}/
        %br
        .pagination-centered
          %ul.pagination
            %li
              = link_to '1',  :action => 'next_result', :page => "1"
            %li
              = link_to '2',  :action => 'next_result', :page => "2"
            %li
              = link_to '3',  :action => 'next_result', :page => "3"
            %li
              = link_to '4',  :action => 'next_result', :page => "4"
            %li
              = link_to '5',  :action => 'next_result', :page => "5"
            %li
              = link_to '6',  :action => 'next_result', :page => "6"
            %li
              = link_to '7',  :action => 'next_result', :page => "7"
            %li
              = link_to '8',  :action => 'next_result', :page => "8"
            %li
              = link_to '9',  :action => 'next_result', :page => "9"
      -#=render(partial: 'job/partials/modal')
      =render(partial: 'job/partials/right_block')
  =render(partial: 'job/partials/footer')


%div{style: "display:inline;"}
  %img{alt: "", height: "1", src: "//www.googleadservices.com/pagead/conversion/970042172/?label=3KYiCIS2gQkQvNbGzgM&guid=ON&script=0", style: "border-style:none;", width: "1"}/
