#fb-root
.wrapper
  = render(partial:'job/partials/header')

  .content
    .width960.row
      =render(partial: 'job/partials/sorting')
      .large-7.medium-7.small-7.column.content_inner
        %p.jobs.grey-light
          #{@current_page_count.to_s.gsub!("<si>", "").gsub!("</si>", "")} - #{@current_page_count.to_i + 10} of #{@total_result.to_s.gsub!("<tr>", "").gsub!("</tr>", "")}
          -if $search.to_s.match(/\+/)
            =$search = $search.to_s.gsub!("+", " ")
          -else
            = $search.to_s
          jobs near
          -if $location.to_s.match(/\+/)
            =$location = $location.to_s.gsub!("+", " ")
          -else
            = $location.to_s
        =render(partial: 'job/partials/advertising')
        .content_inner-block-blue
          .content_inner-block2
            %a{href: "#"}
              %h4 DePaul University Chicago
              .href
                %p.grey-light pd.cdm.depaul.edu/
              %p Ruby on Rails 8-Week OnLine Prgm. Apply Now for April Classes.
          .content_inner-block2
            %a{href: "#"}
              %h4 DePaul University Chicago
              .href
                %p.grey-light pd.cdm.depaul.edu/
              %p Ruby on Rails 8-Week OnLine Prgm. Apply Now for April Classes.
          .content_inner-block2
            %a{href: "#"}
              %h4 DePaul University Chicago
              .href
                %p.grey-light pd.cdm.depaul.edu/
              %p Ruby on Rails 8-Week OnLine Prgm. Apply Now for April Classes.
        = @doc.css("rs r").each do |item|
          .item
            = title = item.css("jt").to_s.gsub!("<jt>", "").gsub!("</jt>", "")
            = company =  item.css("cn").to_s.gsub!('<cn url="">', "").gsub!("</cn>", "")
            = date =  item.css("dp").to_s.gsub!('<dp>', "").gsub!("</dp>", "").gsub!("T", " ").gsub!("Z", " ")
            = text =  item.css("e").to_s.gsub!('<e>', "").gsub!("</e>", "")
            = location =  item.css("loc").to_s
            = link = item.css('src').to_s.gsub!('<src url="','').gsub!('">','').gsub!('</src>','')
          .content_inner-block3
            %a{href: "#{item.css('src').to_s.gsub!('<src url="','').gsub!('">','').gsub!('</src>','')}"}
              %h3= simple_format(title, {}, sanitize:false).gsub!('<p>','').gsub!('</p>','')
            .location
              %p.grey-light= simple_format(company, {}, sanitize:false).gsub!('<p>','').gsub!('</p>','') + ' - '+ simple_format(location, {}, sanitize:true).gsub!('<p>', "").gsub!("</p>", "")
            %p.text= simple_format(text, {}, sanitize:false)
            .time-ago
              %p.grey-light= simple_format(date, {}, sanitize:false)
      .large-2.medium-2.small-2.column.right-sidebar
        %br
        - @posts.each  do |post|
          .right-sidebar_inner-block1
            %h4=post.title
            %p=post.content
            .time-ago
              %p.grey-light=post.created_at
        %a.golden_button.open_Modal_dialog{href: "#openModal"} Post a Job
        .right-sidebar_inner-block2
          %a{href: "#"}
            %h4 DePaul University Chicago
          .href
            %p.grey-light pd.cdm.depaul.edu/
          %p Ruby on Rails 8-Week OnLine Prgm. Apply Now for April Classes.
        .right-sidebar_inner-block2
          %a{href: "#"}
            %h4 DePaul University Chicago
          .href
            %p.grey-light pd.cdm.depaul.edu/
          %p Ruby on Rails 8-Week OnLine Prgm. Apply Now for April Classes.
        .right-sidebar_inner-block2
          %a{href: "#"}
            %h4 DePaul University Chicago
          .href
            %p.grey-light pd.cdm.depaul.edu/
          %p Ruby on Rails 8-Week OnLine Prgm. Apply Now for April Classes.
        .right-sidebar_inner-block2
          %a{href: "#"}
            %h4 DePaul University Chicago
          .href
            %p.grey-light pd.cdm.depaul.edu/
          %p Ruby on Rails 8-Week OnLine Prgm. Apply Now for April Classes.
  =render(partial: 'job/partials/footer')