// Place all the styles related to the ameriplan controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.landing {
  height: 180%;
  background-image: image-url('landing-bg.png');
  font-family: 'Open Sans', sans-serif !important;



}

.white-bg {
  background: #fff;
  width: 960px;
  margin: 0 auto;
  padding: 30px;
}

.fwb {
  font-weight: 900;
  color: #232323;
}

.landing-title {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: bold;
  color: blue;
}

.landing-text p{
  color: #000;
}

.am-logo {
  text-align: center;
  margin-bottom: 30px;
}

.mb100 {
  margin-bottom: 100px;
}

.color-blue {
  color: blue !important;
}

.color-red {
  color: red;
}

.mt-20 {
  margin-top: -20px;
}

.fz24 {
  font-size: 24px;
}

ul {
  color: #000;
}
