// Place all the styles related to the Job controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: KelsonSansBold;
  src: asset-url('KelsonSansBold.otf');
}

@font-face {
  font-family: KelsonSansLight;
  src: asset-url('KelsonSansLight.otf');
}
@font-face {
  font-family: KelsonSansRegular;
  src: asset-url('KelsonSansRegular.otf');
}

.centered {
  margin: 0 auto;
  float: none!important;
  display: block;
}

.clear-both {
  clear: both;
}

.bold {
  font-weight: bold;
}

.blue {
  color: rgb(42,163,219);
}

.gold {
  color: rgb(248,155,38);
}

.red {
  color: rgb(245,99,99);
}

.grey-light {
  color: rgb(188,188,188);
}
.grey-dark {
  color: rgb(75,75,75);
}

.bg-white {
  background: #fff!important;
}

.footer-dark {
  background: rgb(52,52,52)!important;
  border-bottom: 5px solid rgb(47,47,47)!important;
}

.grey-middle {
  color: rgb(114,114,114);
}

.padding-0 {
  padding: 0!important;
}

.mt-75 {
  margin-top: 75px!important;
  border-bottom: 1px solid rgb(224,224,224);
}

.pagination {
  .current {
    a {
      background: rgb(248,155,38)!important;
      border-bottom: 3px solid rgb(208,128,28)!important;
    }
  }
  li {
    a {
      display: block!important;
      width: 21px;
      height: 23px;
      font-size: 12px;
      font-weight: bold;
      color: #ffffff!important;
      background: rgb(172,172,172);
      padding: 0!important;
      line-height: 22px;
      border-bottom: 3px solid rgb(152,152,152);
      &:hover {
        background: rgb(248,155,38)!important;
        border-bottom: 3px solid rgb(208,128,28)!important;
      }
    }
  }
}

input[type=radio].css-checkbox {
 // display:none;
}

input[type=radio].css-checkbox + label.css-label {
  padding-left:20px;
  height:14px;
  display:inline-block;
  line-height:14px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:14px;
  vertical-align:middle;
  cursor:pointer;

}

input[type=radio].css-checkbox:checked + label.css-label {
  background-position: 0 -14px;
}
label.css-label {
  background-image:image-url('radio-button , input[type=submit] .png');
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: KelsonSansRegular;
  color: rgb(114,114,114);
}

input::-webkit-input-placeholder { /* WebKit browsers */
  color: rgb(166,166,166);
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: rgb(166,166,166);
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: rgb(166,166,166);
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: rgb(166,166,166);
}

button , input[type=submit]  {
  outline: none;
}
.width960 {
  padding-left: 10px;
  padding-right: 10px;
  width: 960px;
  margin: 0 auto;
}

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  position: relative;
  right: 19px;
  top: 13px;
  margin-top: -8px;
}

.ui-state-default .ui-icon {
  background-image: image-url('acc-arrow.png');
}

.ui-icon-triangle-1-e {
  background-position: 0px -14px;
}

.ui-icon-triangle-1-s {
  background-position: 0px 0px;
}

.ui-icon {
  width: 16px;
  height: 10px;
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

.accordion {
  padding-left: 20px;
  h4 {
    margin-bottom: 0;
    outline: none;
  }
  a {
    font-size: 12px;
    display: block;
    margin: 4px 0;
    &:hover {
      color: rgb(114,114,114);
    }
  }
}

.accordion_inner {
  padding-left: 0;
  .ui-accordion-header-icon {
  right: 20px!important;
  }
  h4 {
    padding-left: 20px;
  }
  a {
    .p {
      height: 15px;
      p {
        margin: 0;
        font-size: 12px;
        float: left;
        width: 100px;
        overflow: hidden;
        height: 15px;
      }
      span {
        font-size: 12px;
        float: right;
        height: 15px;
        line-height: 18px;
        color: rgb(42,163,219);
      }
    }
  }
}

#mobile_head {
  position: fixed;
  z-index: 9999;
  display: none;
  width: 100%;
  background-color: rgba(225, 225, 225, 0.74);
}

.golden_button  {
  background: rgb(222,138,32);
  background-image: image-url('pen.png');
  background-repeat: no-repeat!important;
  color: #ffffff!important;
  font-size: 18px;
  font-weight: bold!important;
  -webkit-box-shadow: inset -105px 0px 0px 0px rgb(248,155,38)!important;
  -moz-box-shadow:    inset -105px 0px 0px 0px rgb(248,155,38)!important;
  box-shadow:         inset -105px 0px 0px 0px rgb(248,155,38)!important;
  width: 160px;
  height: 40px;
  display: block;
  line-height: 40px;
  padding-left: 60px;
  border-radius: 5px!important;
  border-bottom: solid 3px rgb(202,126,29)!important;
  background-position: 10px!important;
  margin-bottom: 30px;
    &:hover {
      color: #ebebeb;
      background: rgb(249, 155, 35);
      background-image: image-url('pen.png');
      -webkit-box-shadow: inset -105px 0px 0px 0px rgb(229, 172, 21)!important;
      -moz-box-shadow:    inset -105px 0px 0px 0px rgb(229, 172, 21)!important;
      box-shadow:         inset -105px 0px 0px 0px rgb(229, 172, 21) !important;
    }
    &:active {
      position: relative;
      top: 3px;
      border-bottom: none!important;
    }
}

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  h2 {
    font-size: 26px;
    color: #ffffff;
    width: 340px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin: 15px auto;
  }
  h3 {
    font-size: 27px;
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 0;
  }
  .div {
    border-bottom: 2px solid #ccc;
    width: 660px;
    height: 500px;
    position: relative;
    margin: 100px auto;
    border-radius: 10px;
    background: #fff;
    padding-top: 1px;

    h2 {
      color: #545454;
    }
    p {
      width: 500px;
      margin-top: 20px;
      display: block;
      color: #545454;
      margin: 0 auto;
      font-size: 10px!important;
      margin-top: 10px;
    }
    a {
      img {
        margin-right: 80px;
      }
    }
    .modalDialog_inner {
      border-top: solid 3px #ccc;
      border-bottom: solid 3px #ccc;
      .search-block {
        border: none;
        padding: 0;
        #modal_Dialog-button , input[type=submit]  {

          width: 190px;
          display: block;
          margin: 0 auto;
          float: none;
          margin-top: 15px;
          margin-bottom: 10px;
          background: #f89b26;
          border-bottom: solid 3px #ca7e1d;
          padding: 0;
          border-top:none;
          border-right: none;
          border-left: none;
          //border-bottom: solid 3px #cb5252;
          color: #ffffff;
          font-size: 13px;
          font-family: KelsonSansBold;
          text-transform: uppercase;
          cursor: pointer;
          &:hover {
            border-bottom: solid 3px #893d3d;
          }
          &:active {
            border-bottom: none;
            position: relative;
            top: 3px;
          }
        }
        input {
          margin: 10px;
          border: 1px solid #ccc;
        }
      }
      form {
        width: 520px;
        display: block;
        margin: 0 auto;
      }
    }
  }
}


body {
  .wrapper {
    height: 100%;
    font-family: KelsonSansRegular;
    font-size: 14px;
    color: rgb(114,114,114);
    &.notkelson {
      font-family: 'Open Sans', sans-serif !important;  
    }
    header {
      .width960 {
        padding-right: 5px;
      }
      background: rgb(225,225,225);
      border-bottom: 3px solid rgb(205,205,205);
      padding: 15px 0;
      .search-block {
        width: 680px;
        margin: 0;
        padding: 0;
        border: none;
        input {
          height: 37px;
        }
        input[type=submit] {
          border: 0;
          width: 160px;
          height: 37px;
          font-size: 13px;
          text-align: right;
          padding-right: 10px;
          background: rgb(222,138,32);
          background-image: image-url('zoom.png');
          background-repeat: no-repeat;
          background-position: 18px !important;
          margin-left: 19px;
          margin-right: 0;
          line-height: 35px;
          &:hover {
            background: rgb(249, 155, 35);
            background-image: image-url('zoom.png');
            background-repeat: no-repeat;
            -webkit-box-shadow: inset -105px 0px 0px 0px rgb(229, 172, 21)!important;
            -moz-box-shadow:    inset -105px 0px 0px 0px rgb(229, 172, 21)!important;
            box-shadow:         inset -105px 0px 0px 0px rgb(229, 172, 21) !important;
          }
        }
      }
    }
    .content {
      background: rgb(246,246,246);
      .job-categories {
        margin-bottom: 75px;
        h3 {
          font-size: 24px;
          font-weight: bold;
        }
        h4 {
          font-size: 16px!important;
          font-weight: bold;
          margin-bottom: 0;
          margin-right: 5px;
          a {
            color: rgb(70,175,224)!important;
          }
        }
        .alphabet {
          margin-top: 10px;
          a {
            line-height: 28px;
            font-size: 16px;
            font-weight: bold;
            color: rgb(192,192,192);
            margin: 0 2px;
            &:hover {
              color: rgb(70,175,224);
            }
          }
        }
        .jobs-category {
          margin-top: 10px;
          ul {
            li {
              width: 210px;
            }
          }
        }
      }
      .time-ago {
        font-size: 11px;
      }
      h4 {
        font-size: 14px!important;
        font-weight: bold!important;
        cursor: pointer;
      }
      .left-sidebar {
        padding-top: 40px;
        .sort-by {
          margin-bottom: 20px;
          label {
            &:hover {
              color: rgb(114,114,114);
            }
          }
        }
      }
      .content_inner {
        color: #fff;
        background: #ffffff;
        margin: 0 25px;
        padding: 0 35px;
        width: 575px;
        padding-bottom: 30px;
        h3 {
          color: rgb(248,155,38);
          font-size: 18px;
          margin-bottom: 10px;
          span {
            color: rgb(245,99,99);
            font-size: 12px;
            position: relative;
            top: -10px;
          }
          &:hover {
            color: rgb(218, 132, 37);
          }
        }
        .jobs {
          margin-top: 15px;
          margin-bottom: 40px;
        }
        .content_inner-block1 {
          .text {
            margin-bottom: 0;
            span {
              color: rgb(75,75,75);
              font-weight: bold;
            }
          }
          .location {
            p {
              margin-bottom: 10px;
            }
          }
        }
        .content_inner-block-blue {
          background: rgb(232,248,255);
          padding: 10px;
          margin-bottom: 20px;
          .content_inner-block2:last-child {
            margin-bottom: 0;
          }
          .content_inner-block2 {
            margin-bottom: 20px;
            p {
              margin-bottom: 0;
            }
            h4 {
              color: rgb(42,163,219);
              font-weight: 400!important;
              font-size: 18px!important;
              margin-bottom: 0;
              margin-top: 0;
              &:hover {
                color: #2387b8;
              }
            }
            .href {
              font-family: KelsonSansLight;
            }
          }
        }
        .content_inner-block3 {
          h3 {
            color: rgb(42,163,219);
            font-weight: 400!important;
            font-size: 18px!important;
            margin-bottom: 0;
            margin-top: 0;
            &:hover {
              color: #2387b8;
            }
          }
        }
      }
      .right-sidebar {
        padding-top: 40px;
        h4 {
          margin-bottom: 3px;
        }
        p {
          margin-bottom: 0;
          font-size: 12px;
        }
        .right-sidebar_inner-block1 {
          margin-bottom: 25px;
        }
        .right-sidebar_inner-block2 {
          margin-bottom: 25px;
          h4 {
            color: rgb(42,163,219);
            font-weight: 400!important;
            font-size: 12px!important;
            &:hover {
              color: #2387b8;
            }
          }
          .href {
            font-family: KelsonSansLight;
          }
        }
      }
      .advanced-search {
        padding: 25px 0;
        .advanced-search_inner, .input-centered {
          h3 {
            font-size: 24px;
            margin-left: 10px;
            margin-top: 50px;
          }
          .input-centered{
            display: table;
            margin: 0 auto;
            .golden_button  {
              box-shadow: none !important;
              background: #f89b26;
            }
            .search-block {
              width: auto;
              border: none;
              padding: 35px 0;
              margin: 0;
              input {
                margin: 0 25px;
              }
            }
          }
          section {
            border-top: solid 1px rgb(224,224,224);
            background: rgb(246,246,246);
            .column {
              margin-left: 40px;
            }
            .search-block {
              border: none;
              width: 100%;
              padding: 35px 0;
              margin: 0;
              input, select {
                margin: 10px 26px;
              }
            }
          }
        }
      }
    }
    .search-block {
      width: 660px;
      border: rgb(142,142,142) solid 1px;
      padding: 8px;
      border-radius: 5px;
      margin-top: 22px;
      input, select, button , input[type=submit]  {
        border: 0;
        border-radius: 5px;
        float: left;
        margin-bottom: 0;
        margin-left: 5px;
        margin-right: 5px;
        height: 47px;
      }
      input, select {
        width: 240px;
        outline: none;
      }
      select {
        color: rgb(166,166,166);
        background-image: image-url('select-icon.png');
        background-position: center right 5%;
        option {
          color: rgb(166,166,166);
        }
      }
      button , input[type=submit] , .advanced-search {
        color: #ffffff;
        font-size: 13px;
        font-family: KelsonSansBold;
        text-transform: uppercase;
      }
      button , input[type=submit] {
        width: 130px;
        background: rgb(245,99,99);
        padding: 0;
        border-bottom: solid 3px rgb(203,82,82);
        &:hover {
          border-bottom: solid 3px rgb(137, 61, 61);
        }
        &:active {
          position: relative;
          top: 3px;
          border-bottom: none;
        }
      }
      .advanced-search {
        margin-top: 20px;
        margin-right: 15px;
        &:hover {
          color: rgb(231, 231, 231);
        }
      }
    }
    .full-width_bg1, .full-width_bg2, .full-width_bg2 {
      padding-top: 30px;
      min-width: 960px;
    }
    .full-width_bg1 {
      background: image-url('bg-1.png');
      background-repeat: no-repeat;
      background-size: cover;
      height: 560px;
      margin-bottom: 30px;
        .centered {
          h1,h2 {
            color: #ffffff;
            text-align: center;
          }
          h1 {
            font-family: KelsonSansBold;
            font-size: 60px;
            color: #ffffff;
            text-transform: uppercase;
            margin-top: 130px;
              span {
                color: rgb(245,99,99);
              }
          }
          h2 {
            font-size: 36px;
            margin-top: -20px;
          }
        }
        .width960 {
            .logo {

            }
            .post-job {
              border: rgb(142,142,142) solid 1px;
              border-radius: 5px;
              color: #ffffff;
              font-family: KelsonSansBold;
              font-size: 18px;
              padding: 12px 20px;
              margin-top: 12px;
              &:hover {
                color: rgb(231, 231, 231);
                border: #ffffff solid 1px;
              }
            }
      }
    }
    .full-width_bg2 {
      height: 273px;
      background-position: 0-55px;
      background: image-url('bg-2.png');
      background-repeat: no-repeat;
      background-size: cover;
      .logo {
        margin: 0 auto;
        display: block;
        float: none;
        margin-top: 10px;
      }
      .search-block {
        margin-top: 40px;
      }
    }
    .full-width_bg3 {
      min-height: 620px;
      height: 100%;
      background: image-url('bg-3.png') no-repeat center center;
      background-size: cover;
      h2 {
        font-size: 48px;
        color: #ffffff;
        text-align: center;
      }
      .logo {
        margin: 0 auto;
        display: block;
        float: none;
        margin-top: 110px;
        margin-bottom: 60px;
        img {
          width: 375px;
          height: 100px;
        }
      }
      .search-block {
        margin-top: 40px;
      }
    }
    .jobs-category {
      h3 {
        font-size: 24px;
        margin-bottom: 35px;
      }
      ul {
        list-style: none;
        margin: 0;
        margin-left: 10px;
        li {
          color: rgb(166,166,166);
          font-size: 14px;
          margin: 1px 0;
          a {
            color: rgb(166,166,166);
            &:hover {
              color: rgb(114,114,114);
            }
          }
        }
      }
      ul:first-child {
        margin-left: 0;
      }
      .browse-job-listings {
        font-size: 18px;
        margin-top: 35px;
        margin-bottom: 55px;
        display: block;
        &:hover {
          color: rgb(35, 135, 184);
        }
      }
    }
    footer {
      background: rgb(224,224,224);
      border-bottom: 5px solid rgb(204,204,204);
        .active {
          color: rgb(172,172,172)!important;
        }
      nav {
        margin-top: 30px;
        margin-bottom: 20px;
        ul {
          margin: 0;
          list-style: none;
          li {
            display: inline;
            padding-right: 0 10px;
            a {
              color: rgb(82,82,82);
              font-size: 12px;
              text-decoration: underline;
              &:hover {
                color: rgb(172,172,172);
              }
            }
          }
          li:first-child {
            padding-left: 0;
          }
          li:last-child {
            border-right: none;
          }
        }
      }
        .footer_inner1 {
          height: 130px;
          padding-bottom: 20px;
        }
        .footer_inner2 {
         // height: 80px;
          .copyright {
            margin-top: 20px;
          }
        }
        .footer_inner3 {
          margin-top: -50px;
          height: 80px;
          padding-top: 20px;
          padding-bottom: 30px;
          .copyright {
            margin-left: 15px;
            p {
              color: #ffffff;
            }
          }
          nav {
            margin: 0;
            ul {
              li {
                border-color: rgb(74,74,74);
                a {
                  color: #ffffff;
                  &:hover {
                    color: rgb(197,197,197);
                  }
                }
              }
            }
          }
        }
        .socials {
          margin-top: 30px;
          margin-bottom: 20px;
          a {
            float: right;
            margin-left: 3px;
          }
          .fb_iframe_widget {
            float: right;
            margin-top: 2px;
          }
        }
        .copyright {
          p {
            margin-top: 0;
            text-align: right;
            font-size: 12px;
            color: rgb(82,82,82);
            span {
              font-weight: bold;
            }
          }
        }
    }
  }
}

p {
  color: #727272;
}

.item {
  font-size: 0;
}

.contact-form_block {
 // background: image-url('bg-4.png');
  background-repeat: no-repeat;
  background-position: 0 130px;
  h2 {
    font-size: 36px;
    font-weight: bold;
    color: rgb(82,82,82);
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 70px;
  }
  .socials {
    margin-top: 40px;
    a,.fb-like {
      float: right;
      margin-left: 5px;
    }
  }
  .contact-form {
    input, textarea {
      border: 1px solid rgb(224,224,224);
      border-radius: 5px;
      width: 100%;
      outline: none;
      box-shadow: none;
      padding-left: 15px;
    }
    input[type=submit]{
      margin-top: 5px;
      display: block;
      width: 130px;
      margin-bottom: 80px;
      background: #f56363;
      padding: 0;
      border-top:none;
      border-right: none;
      border-left: none;
      border-bottom: solid 4px #cb5252;
      color: #ffffff;
      font-size: 13px;
      font-family: KelsonSansBold;
      text-transform: uppercase;
      cursor: pointer;
      &:hover {
        border-bottom: solid 4px #893d3d;
      }
      &:active {
        border-bottom: none;
        position: relative;
        top: 4px;
      }
    }
    input {
      height: 47px;
    }
    textarea {
      resize: none;
      padding-top: 15px;
      height: 220px;

    }
  }
}


.alphabet-tabs-h4 {
  display: table;
  position: relative;
  left: 235px;
  top: -37px;
  .alphabet-tabs {
    display: table;
    overflow: hidden;
    .active {
      a {
        color: #2AA3DB;

      }
    }
    dd {
      a {
        font-family: KelsonSansRegular;
        padding: 0;
        line-height: 28px;
        font-size: 16px;
        font-weight: bold;
        color: silver;
        margin: 0 4px;
        background: none;
      }
    }
  }
}

.alphabet-tabs-text {
  margin-top: -25px!important;
  .content {
    background: none!important;
  }
}

iframe body {
  overflow-x:hidden;
}


.first_5_black {
  li:nth-child(1),li:nth-child(2),li:nth-child(3),li:nth-child(4),li:nth-child(5),li:nth-child(6) {
    a {
      color: #000 !important;
      font-size: 14px;
      padding-right: 15px;
    }
  }

  li:nth-child(7), li:nth-child(8), li:nth-child(9), li:nth-child(10), li:nth-child(11), li:nth-child(12) {
    padding-right: 5px;
  }
}

.text-show {
  width: 960px;
  margin: 0 auto;
  text-align: justify;
}

.blockkk {
  text-align: center;
}

#Email {
  width: 500px;
}

.w175 {
  height: 175px !important;
  word-wrap: break-word;
}

.modal-logo {
  width: 152px;
  margin-top: 10px;
  margin-left: 10px;
}

.close-reveal-modal {
  color: #545454 !important;
}

#recaptcha_response_field {
bottom: 0 !important;
height: 22px !important;
margin-top: 0 !important;
}

#recaptcha_table {
  tr:last-child {
    display:none;
  }
}

#recaptcha_privacy {
  position:relative;
  top: -5px;
  margin-bottom:-5px;
}

#recaptcha_reload {
position:relative;
top: -1px;
left: 1px;
margin-bottom:-2px;
}

#recaptcha_switch_audio {
    position:relative;
    left: 1px;
    margin-bottom:-5px;
}

#recaptcha_whatsthis {
    position:relative;
    top: -1px;
    left: 1px;
    margin-bottom:-6px;
}

.recaptcha_input_area {
    height: auto !important;
}
