// Place all the styles related to the states controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.mt-150 {
  margin-top: 200px;
}

.w100p {
  width: 100%;
  text-align: center;
}

iframe {
  margin: 0 auto;
  width: 900px;
}