<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="google-site-verification" content="exyn_OWFZiuwMmgquxn7-LQn5FRs0n47CvqIU7DUZWY" />
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0" />  -->

    <title><%= content_for?(:title) ? yield(:title) : "JobGoal.net" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-50393619-1', 'jobgoal.net');
        ga('send', 'pageview');

    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>

        <%= javascript_include_tag "application" %>
  </body>

</html>
